InternTesting/xsd_files/2023/v1_0_0/FagmodellVeg.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fmveg="https://skjema.atlas.vegvesen.no/r000/fagmodellveg/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/fagmodellveg/1.0" version="1.0">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Leveranse.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BaerelagNedre" substitutionGroup="fmveg:Overbygning" type="fmveg:BaerelagNedreType"/>
  <complexType name="BaerelagNedreType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bæretype" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Baerelagtype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Baerelagtype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedreNominelleSteinstørrelse" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BaerelagNedrePropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:BaerelagNedre"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BaerelagOevre" substitutionGroup="fmveg:Overbygning" type="fmveg:BaerelagOevreType"/>
  <complexType name="BaerelagOevreType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bæretype" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Baerelagtype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Baerelagtype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="nedreNominelleSteinstørrelse" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BaerelagOevrePropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:BaerelagOevre"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Bindelag" substitutionGroup="fmveg:Overbygning" type="fmveg:BindelagType"/>
  <complexType name="BindelagType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="massetype" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Massetype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Massetype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BindelagPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Bindelag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BreddeHellingGittVerdi" substitutionGroup="gml:AbstractObject" type="fmveg:BreddeHellingGittVerdiType">
    <annotation>
      <documentation>Det er angitt ved start og sluttverdi. Dette er bredden eller hellingen som skal brukes på flaten (del av hele overflaten), for eksempel kjørefelt, skulder, fortau, g/s-veg, fylling og skjæring. Både verdiStart og verdiSlutt trengs. Dessuten mellomverdier</documentation>
    </annotation>
  </element>
  <complexType name="BreddeHellingGittVerdiType">
    <sequence>
      <element name="breddeStart" type="double">
        <annotation>
          <documentation>bredde i startprofil</documentation>
        </annotation>
      </element>
      <element name="hellingStart" type="double">
        <annotation>
          <documentation>helling i startprofil</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="breddeMellom" type="fmveg:MellomprofilPropertyType">
        <annotation>
          <documentation>bredde i mellomprofil</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="hellingMellom" type="fmveg:MellomprofilPropertyType">
        <annotation>
          <documentation>helling i mellomprofil</documentation>
        </annotation>
      </element>
      <element name="breddeSlutt" type="double">
        <annotation>
          <documentation>flatebredde i sluttprofil</documentation>
        </annotation>
      </element>
      <element name="hellingSlutt" type="double">
        <annotation>
          <documentation>helling i sluttprofil</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BreddeHellingGittVerdiPropertyType">
    <sequence>
      <element ref="fmveg:BreddeHellingGittVerdi"/>
    </sequence>
  </complexType>
  <element abstract="true" name="DreneringElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:DreneringElementType"/>
  <complexType abstract="true" name="DreneringElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DreneringElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:DreneringElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FagmodellVeg" substitutionGroup="lv:Fagmodell" type="fmveg:FagmodellVegType"/>
  <complexType name="FagmodellVegType">
    <complexContent>
      <extension base="lv:FagmodellType">
        <sequence>
          <element minOccurs="0" name="linje" type="gml:LineStringType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="vegElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="vegElementSamling">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegElementSamling"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FagmodellVegPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:FagmodellVeg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fartsdemper" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:FartsdemperType"/>
  <complexType name="FartsdemperType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFartsdemper.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFartsdemper.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="profil" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Profil.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Profil.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="material" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeBelegning.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeBelegning.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FartsdemperPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fartsdemper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Ferist" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:FeristType">
    <annotation>
      <documentation>Konstruksjon med rist eller gitter som er innbygd i vegbanen, og som hindrer krøtter i å komme over. (jfr bokmålsordboka)</documentation>
    </annotation>
  </element>
  <complexType name="FeristType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>1104: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFerist.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFerist.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="passeringVedFerist" type="gml:CodeType">
            <annotation>
              <documentation>1737: Angir om det er mulighet for passering for fotgjengere utenom ferist</documentation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_PasseringVedFerist.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_PasseringVedFerist.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterforberedelse" type="gml:CodeType">
            <annotation>
              <documentation>4595: Angir hva som skal gjøres med ferist i forkant av vinter sesongen</documentation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Vinterforberedelse.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Vinterforberedelse.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeristPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Ferist"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fiberduk" substitutionGroup="fmveg:Overbygning" type="fmveg:FiberdukType"/>
  <complexType name="FiberdukType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="bruksklasse" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Bruksklasse.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Bruksklasse.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="plasering" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FiberdukPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fiberduk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Filterlag" substitutionGroup="fmveg:Overbygning" type="fmveg:FilterlagType"/>
  <complexType name="FilterlagType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="merknad" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FilterlagPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Filterlag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ForsterketMidtoppmerking" substitutionGroup="fmveg:SkilleMellomKjoereretningerElement" type="fmveg:ForsterketMidtoppmerkingType"/>
  <complexType name="ForsterketMidtoppmerkingType">
    <complexContent>
      <extension base="fmveg:SkilleMellomKjoereretningerElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ForsterketMidtoppmerkingPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:ForsterketMidtoppmerking"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Forsterkningslag" substitutionGroup="fmveg:Overbygning" type="fmveg:ForsterkningslagType"/>
  <complexType name="ForsterkningslagType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="steinstørrelse" type="double"/>
          <element minOccurs="0" name="forsterkningslag" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Forsterkningstype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Forsterkningstype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="merknad" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ForsterkningslagPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Forsterkningslag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fylling" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:FyllingType">
    <annotation>
      <documentation>Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum. (Datakatalog 2.29) - Vegobjekttype 930</documentation>
    </annotation>
  </element>
  <complexType name="FyllingType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingtype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingtype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FyllingMaterial.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FyllingMaterial.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkemateriale" type="string"/>
          <element minOccurs="0" name="fyllingssaale" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingssaale.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingssaale.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelseMaks" type="double"/>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="tilleggsinformasjon" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FyllingPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fylling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FyllingOppTilPlanum" substitutionGroup="fmveg:Underbygning" type="fmveg:FyllingOppTilPlanumType"/>
  <complexType name="FyllingOppTilPlanumType">
    <complexContent>
      <extension base="fmveg:UnderbygningType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingtype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingtype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FyllingMaterial.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FyllingMaterial.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dekkemateriale" type="string"/>
          <element minOccurs="0" name="fyllingssåle" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingssaale.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingssaale.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tykkelseMaks" type="double"/>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="tilleggsinformasjon" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FyllingOppTilPlanumPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:FyllingOppTilPlanum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fyllingsfot" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:FyllingsfotType"/>
  <complexType name="FyllingsfotType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FyllingsfotPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fyllingsfot"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fyllingsskraaning" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:FyllingsskraaningType"/>
  <complexType name="FyllingsskraaningType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence>
          <element minOccurs="0" name="helning" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Helning.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Helning.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="hoeydeMaksimal" type="double"/>
          <element minOccurs="0" name="breddeGjennomsnitt" type="double"/>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="tilleggsinformasjon" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FyllingsskraaningPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fyllingsskraaning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Hoeydehinder" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:HoeydehinderType">
    <annotation>
      <documentation>Fysisk hinder plassert over kjørebanen. Benyttes foran tunneler, underganger etc. for å hindre for høye kjøretøy å gjøre skade.</documentation>
    </annotation>
  </element>
  <complexType name="HoeydehinderType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HoeydehinderPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Hoeydehinder"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Mellomprofil" substitutionGroup="gml:AbstractObject" type="fmveg:MellomprofilType"/>
  <complexType name="MellomprofilType">
    <sequence>
      <element name="profilnummer" type="integer">
        <annotation>
          <documentation>metrering fra starten på referanse-linja</documentation>
        </annotation>
      </element>
      <element name="verdi" type="integer">
        <annotation>
          <documentation>verdien på spesifisert profilnummer</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MellomprofilPropertyType">
    <sequence>
      <element ref="fmveg:Mellomprofil"/>
    </sequence>
  </complexType>
  <element name="Midtlinje" substitutionGroup="fmveg:SkilleMellomKjoereretningerElement" type="fmveg:MidtlinjeType"/>
  <complexType name="MidtlinjeType">
    <complexContent>
      <extension base="fmveg:SkilleMellomKjoereretningerElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MidtlinjePropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Midtlinje"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Midtrekkverk" substitutionGroup="fmveg:SkilleMellomKjoereretningerElement" type="fmveg:MidtrekkverkType"/>
  <complexType name="MidtrekkverkType">
    <complexContent>
      <extension base="fmveg:SkilleMellomKjoereretningerElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MidtrekkverkPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Midtrekkverk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Midttrekkverk" substitutionGroup="fmveg:SkilleMellomKjoereretningerElement" type="fmveg:MidttrekkverkType"/>
  <complexType name="MidttrekkverkType">
    <complexContent>
      <extension base="fmveg:SkilleMellomKjoereretningerElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MidttrekkverkPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Midttrekkverk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Overbygning" substitutionGroup="fmveg:VegkroppElement" type="fmveg:OverbygningType"/>
  <complexType abstract="true" name="OverbygningType">
    <complexContent>
      <extension base="fmveg:VegkroppElementType">
        <sequence>
          <element minOccurs="0" name="tykkelse" type="double"/>
          <element minOccurs="0" name="masseforbruk" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OverbygningPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Overbygning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Planum" substitutionGroup="fmveg:Underbygning" type="fmveg:PlanumType"/>
  <complexType name="PlanumType">
    <complexContent>
      <extension base="fmveg:UnderbygningType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlanumPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Planum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PortDoer" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:PortDoerType">
    <annotation>
      <documentation>Åpning til/fra et rom/område. Kan åpnes og lukkes med dør eller port.</documentation>
    </annotation>
  </element>
  <complexType name="PortDoerType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>Angir primær materialtype for vegobjektet</documentation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypePortDoer.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypePortDoer.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="branndør" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Branndoer.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Branndoer.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="uforming" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_UtformingPortDoer.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_UtformingPortDoer.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="bruksområde" type="gml:CodeType">
            <annotation>
              <documentation>Angir om det er innvendig belysning i leskur</documentation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadePortDoer.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadePortDoer.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortDoerPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:PortDoer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RabattElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:RabattElementType"/>
  <complexType name="RabattElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence>
          <element minOccurs="0" name="bruksomraade" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Bruksomraade.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Bruksomraade.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="utforming" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_RabattUtforming.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_RabattUtforming.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="material" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Material.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Material.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RabattElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:RabattElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SideomraadeElement" substitutionGroup="fmveg:VegomraadeElement" type="fmveg:SideomraadeElementType"/>
  <complexType name="SideomraadeElementType">
    <complexContent>
      <extension base="fmveg:VegomraadeElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SideomraadeElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:SideomraadeElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SkilleMellomKjoereretningerElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:SkilleMellomKjoereretningerElementType"/>
  <complexType name="SkilleMellomKjoereretningerElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkilleMellomKjoereretningerElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:SkilleMellomKjoereretningerElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Skjaering" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:SkjaeringType"/>
  <complexType name="SkjaeringType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence>
          <element minOccurs="0" name="høydeMiddel" type="double"/>
          <element minOccurs="0" name="høydeMaksimal" type="double"/>
          <element minOccurs="0" name="beskjæringsID" type="string"/>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Skjaeringtype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Skjaeringtype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjaeringPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Skjaering"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Skjaeringstopp" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:SkjaeringstoppType"/>
  <complexType name="SkjaeringstoppType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjaeringstoppPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Skjaeringstopp"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Skjerm" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:SkjermType"/>
  <complexType name="SkjermType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadeSkjerm.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadeSkjerm.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialeSkjerm" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeSkjerm.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeSkjerm.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materialeSøyler" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeSoeyler.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeSoeyler.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="fundamenteringPlassering" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FundamenteringPlassering.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FundamenteringPlassering.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="typeFundament" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFundament.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFundament.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjermPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Skjerm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Skraaning" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:SkraaningType"/>
  <complexType name="SkraaningType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Skraaningtype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Skraaningtype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="tilleggsinformasjon" type="string"/>
          <element minOccurs="0" name="breddeGjSnitt" type="double"/>
          <element minOccurs="0" name="areal" type="integer"/>
          <element minOccurs="0" name="lengde" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkraaningPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Skraaning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Slitelag" substitutionGroup="fmveg:Overbygning" type="fmveg:SlitelagType"/>
  <complexType name="SlitelagType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="massetype" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Massetype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Massetype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SlitelagPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Slitelag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Stroesandkasse" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:StroesandkasseType">
    <annotation>
      <documentation>Innretning laget for lagring av strøsand.</documentation>
    </annotation>
  </element>
  <complexType name="StroesandkasseType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StroesandkassePropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Stroesandkasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Underbygning" substitutionGroup="fmveg:VegkroppElement" type="fmveg:UnderbygningType"/>
  <complexType name="UnderbygningType">
    <complexContent>
      <extension base="fmveg:VegkroppElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UnderbygningPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Underbygning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UndergrunnForbedret" substitutionGroup="fmveg:Underbygning" type="fmveg:UndergrunnForbedretType"/>
  <complexType name="UndergrunnForbedretType">
    <complexContent>
      <extension base="fmveg:UnderbygningType">
        <sequence>
          <element minOccurs="0" name="merknad" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UndergrunnForbedretPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:UndergrunnForbedret"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegElement" substitutionGroup="gml:AbstractFeature" type="fmveg:VegElementType"/>
  <complexType name="VegElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="vegElementID" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="VegElementSamling" substitutionGroup="gml:AbstractFeature" type="fmveg:VegElementSamlingType"/>
  <complexType abstract="true" name="VegElementSamlingType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="vegElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegElementSamlingPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegElementSamling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegOgGateObjekter" substitutionGroup="fmveg:VegElementSamling" type="fmveg:VegOgGateObjekterType"/>
  <complexType name="VegOgGateObjekterType">
    <complexContent>
      <extension base="fmveg:VegElementSamlingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="vegOgGateObjekterElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegOgGateObjekterElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegOgGateObjekterPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegOgGateObjekter"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegOgGateObjekterElement" substitutionGroup="fmveg:VegElement" type="fmveg:VegOgGateObjekterElementType"/>
  <complexType name="VegOgGateObjekterElementType">
    <complexContent>
      <extension base="fmveg:VegElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegOgGateObjekterElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegOgGateObjekterElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vegbom" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:VegbomType">
    <annotation>
      <documentation>Fysisk hinder for å kunne stenge en veg. F.eks. i forbindelse med rasfare, tunnel, høgfjell etc.</documentation>
    </annotation>
  </element>
  <complexType name="VegbomType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadeVegbom.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadeVegbom.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeVegbom.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeVegbom.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="materiale" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialtypeVegbom.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialtypeVegbom.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegbomPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Vegbom"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vegkonstruksjon" substitutionGroup="fmveg:VegElementSamling" type="fmveg:VegkonstruksjonType"/>
  <complexType name="VegkonstruksjonType">
    <complexContent>
      <extension base="fmveg:VegElementSamlingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="vegkonstruksjon">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegkonstruksjonElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkonstruksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Vegkonstruksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="VegkonstruksjonElement" substitutionGroup="fmveg:VegElement" type="fmveg:VegkonstruksjonElementType"/>
  <complexType abstract="true" name="VegkonstruksjonElementType">
    <complexContent>
      <extension base="fmveg:VegElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkonstruksjonElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegkonstruksjonElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegkroppElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:VegkroppElementType"/>
  <complexType name="VegkroppElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkroppElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegkroppElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vegomraade" substitutionGroup="fmveg:VegElementSamling" type="fmveg:VegomraadeType"/>
  <complexType name="VegomraadeType">
    <complexContent>
      <extension base="fmveg:VegElementSamlingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="vegomraadeElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegomraadeElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegomraadePropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Vegomraade"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegomraadeElement" substitutionGroup="fmveg:VegElement" type="fmveg:VegomraadeElementType"/>
  <complexType name="VegomraadeElementType">
    <complexContent>
      <extension base="fmveg:VegElementType">
        <sequence>
          <element name="vegDesign" type="fmveg:VegomraadeRefPropertyType"/>
          <element name="ytterkant" type="fmveg:YtterkantPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegomraadeElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegomraadeElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegomraadeRef" substitutionGroup="gml:AbstractObject" type="fmveg:VegomraadeRefType"/>
  <complexType name="VegomraadeRefType">
    <sequence>
      <element name="flatetype" type="gml:CodeType">
        <annotation>
          <appinfo>
            <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_VegomraadeElementType.gml</sc:targetCodeListURI>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_VegomraadeElementType.gml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element name="flaterekkefølge" type="integer"/>
      <element name="vegside" type="gml:CodeType">
        <annotation>
          <appinfo>
            <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Side.gml</sc:targetCodeListURI>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Side.gml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VegomraadeRefPropertyType">
    <sequence>
      <element ref="fmveg:VegomraadeRef"/>
    </sequence>
  </complexType>
  <element name="Ytterkant" substitutionGroup="gml:AbstractObject" type="fmveg:YtterkantType"/>
  <complexType name="YtterkantType">
    <choice>
      <element name="gitteVerdier" type="fmveg:BreddeHellingGittVerdiPropertyType"/>
    </choice>
  </complexType>
  <complexType name="YtterkantPropertyType">
    <sequence>
      <element ref="fmveg:Ytterkant"/>
    </sequence>
  </complexType>
</schema>
