InternTesting/xsd_files/2023/v1_0_0/FagmodellVeg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fmveg="https://skjema.atlas.vegvesen.no/r000/fagmodellveg/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:svvli="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" targetNamespace="https://skjema.atlas.vegvesen.no/r000/fagmodellveg/1.0" elementFormDefault="qualified" version="1.0">
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Leveranse.xsd"/>
	<import namespace="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Landinfra.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="BaerelagNedre" type="fmveg:BaerelagNedreType" substitutionGroup="fmveg:Overbygning"/>
	<complexType name="BaerelagNedreType">
		<complexContent>
			<extension base="fmveg:OverbygningType">
				<sequence>
					<element name="øvreNominelleSteinstørrelse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="bæretype" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Baerelagtype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="nedreNominelleSteinstørrelse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="merknad" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BaerelagNedrePropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:BaerelagNedre"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BaerelagOever" type="fmveg:BaerelagOeverType" substitutionGroup="fmveg:Overbygning"/>
	<complexType name="BaerelagOeverType">
		<complexContent>
			<extension base="fmveg:OverbygningType">
				<sequence>
					<element name="øvreNominelleSteinstørrelse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="bæretype" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Baerlagtype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="nedreNominelleSteinstørrelse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="merknad" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BaerelagOeverPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:BaerelagOever"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Bindelag" type="fmveg:BindelagType" substitutionGroup="fmveg:Overbygning"/>
	<complexType name="BindelagType">
		<complexContent>
			<extension base="fmveg:OverbygningType">
				<sequence>
					<element name="areal" type="double" minOccurs="0"/>
					<element name="massetype" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Massetype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="øvreNominelleSteinstørrelse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstoerrelse.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BindelagPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Bindelag"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BreddeHellingGittVerdi" type="fmveg:BreddeHellingGittVerdiType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>Det er angitt ved start og sluttverdi. Dette er bredden eller hellingen som skal brukes på flaten (del av hele overflaten), for eksempel kjørefelt, skulder, fortau, g/s-veg, fylling og skjæring. Både verdiStart og verdiSlutt trengs. Dessuten mellomverdier</documentation>
		</annotation>
	</element>
	<complexType name="BreddeHellingGittVerdiType">
		<sequence>
			<element name="breddeStart" type="double">
				<annotation>
					<documentation>bredde i startprofil</documentation>
				</annotation>
			</element>
			<element name="hellingStart" type="double">
				<annotation>
					<documentation>helling i startprofil</documentation>
				</annotation>
			</element>
			<element name="breddeMellom" type="fmveg:MellomprofilPropertyType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>bredde i mellomprofil</documentation>
				</annotation>
			</element>
			<element name="hellingMellom" type="fmveg:MellomprofilPropertyType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>helling i mellomprofil</documentation>
				</annotation>
			</element>
			<element name="breddeSlutt" type="double">
				<annotation>
					<documentation>flatebredde i sluttprofil</documentation>
				</annotation>
			</element>
			<element name="hellingSlutt" type="double">
				<annotation>
					<documentation>helling i sluttprofil</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="BreddeHellingGittVerdiPropertyType">
		<sequence>
			<element ref="fmveg:BreddeHellingGittVerdi"/>
		</sequence>
	</complexType>
	<element name="DreneringElement" type="fmveg:DreneringElementType" abstract="true" substitutionGroup="fmveg:VegkonstruksjonElement"/>
	<complexType name="DreneringElementType" abstract="true">
		<complexContent>
			<extension base="fmveg:VegkonstruksjonElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="DreneringElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:DreneringElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FagmodellVeg" type="fmveg:FagmodellVegType" substitutionGroup="lv:Fagmodell"/>
	<complexType name="FagmodellVegType">
		<complexContent>
			<extension base="lv:FagmodellType">
				<sequence>
					<element name="linje" type="gml:LineStringType" minOccurs="0"/>
					<element name="vegElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmveg:VegElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="vegElementSamling" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmveg:VegElementSamling"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FagmodellVegPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:FagmodellVeg"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Fartsdemper" type="fmveg:FartsdemperType" substitutionGroup="fmveg:VegOgGateObjekterElement">
		<annotation>
			<appinfo>
				<sc:taggedValue tag="NVDB_ID">103</sc:taggedValue>
			</appinfo>
		</annotation>
	</element>
	<complexType name="FartsdemperType">
		<complexContent>
			<extension base="fmveg:VegOgGateObjekterElementType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFartsdemper.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="profil" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Profil.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="material" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeBelegning.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FartsdemperPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Fartsdemper"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Ferist" type="fmveg:FeristType" substitutionGroup="fmveg:VegOgGateObjekterElement">
		<annotation>
			<documentation>Konstruksjon med rist eller gitter som er innbygd i vegbanen, og som hindrer krøtter i å komme over. (jfr bokmålsordboka)</documentation>
			<appinfo>
				<sc:taggedValue tag="NVDB_ID">22</sc:taggedValue>
			</appinfo>
		</annotation>
	</element>
	<complexType name="FeristType">
		<complexContent>
			<extension base="fmveg:VegOgGateObjekterElementType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>1104: Angir hvilken type vegobjektet er av</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFerist.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="passeringVedFerist" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>1737: Angir om det er mulighet for passering for fotgjengere utenom ferist</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_PasseringVedFerist.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="vinterforberedelse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>4595: Angir hva som skal gjøres med ferist i forkant av vinter sesongen</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Vinterforberedelse.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FeristPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Ferist"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Fiberduk" type="fmveg:FiberdukType" substitutionGroup="fmveg:Overbygning"/>
	<complexType name="FiberdukType">
		<complexContent>
			<extension base="fmveg:OverbygningType">
				<sequence>
					<element name="bruksklasse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Bruksklasse.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="plasering" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FiberdukPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Fiberduk"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Filterlag" type="fmveg:FilterlagType" substitutionGroup="fmveg:Overbygning"/>
	<complexType name="FilterlagType">
		<complexContent>
			<extension base="fmveg:OverbygningType">
				<sequence>
					<element name="merknad" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FilterlagPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Filterlag"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ForsterketMidtoppmerking" type="fmveg:ForsterketMidtoppmerkingType" substitutionGroup="fmveg:SkilleMellomKjoereretningerElement"/>
	<complexType name="ForsterketMidtoppmerkingType">
		<complexContent>
			<extension base="fmveg:SkilleMellomKjoereretningerElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ForsterketMidtoppmerkingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:ForsterketMidtoppmerking"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Forsterkningslag" type="fmveg:ForsterkningslagType" substitutionGroup="fmveg:Overbygning"/>
	<complexType name="ForsterkningslagType">
		<complexContent>
			<extension base="fmveg:OverbygningType">
				<sequence>
					<element name="steinstørrelse" type="double" minOccurs="0"/>
					<element name="forsterkningslag" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Forsterkningstype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="merknad" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ForsterkningslagPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Forsterkningslag"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Fylling" type="fmveg:FyllingType" substitutionGroup="fmveg:SideomraadeElement">
		<annotation>
			<documentation>Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum. (Datakatalog 2.29) - Vegobjekttype 930</documentation>
		</annotation>
	</element>
	<complexType name="FyllingType">
		<complexContent>
			<extension base="fmveg:SideomraadeElementType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fillingtype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="materiale" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FyllingMaterial.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="dekkemateriale" type="string" minOccurs="0"/>
					<element name="fyllingssaale" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingssaale.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="tykkelseMaks" type="double" minOccurs="0"/>
					<element name="areal" type="double" minOccurs="0"/>
					<element name="tilleggsinformasjon" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FyllingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Fylling"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FyllingOppTilPlanum" type="fmveg:FyllingOppTilPlanumType" substitutionGroup="fmveg:Underbygning"/>
	<complexType name="FyllingOppTilPlanumType">
		<complexContent>
			<extension base="fmveg:UnderbygningType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingtype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="materiale" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FyllingMaterial.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="dekkemateriale" type="string" minOccurs="0"/>
					<element name="fyllingssåle" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Fyllingssaale.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="tykkelseMaks" type="double" minOccurs="0"/>
					<element name="areal" type="double" minOccurs="0"/>
					<element name="tilleggsinformasjon" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FyllingOppTilPlanumPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:FyllingOppTilPlanum"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Fyllingsfot" type="fmveg:FyllingsfotType" substitutionGroup="fmveg:SideomraadeElement"/>
	<complexType name="FyllingsfotType">
		<complexContent>
			<extension base="fmveg:SideomraadeElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FyllingsfotPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Fyllingsfot"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Fyllingsskraaning" type="fmveg:FyllingsskraaningType" substitutionGroup="fmveg:SideomraadeElement"/>
	<complexType name="FyllingsskraaningType">
		<complexContent>
			<extension base="fmveg:SideomraadeElementType">
				<sequence>
					<element name="helning" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmvsg_Heling.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="hoeydeMaksimal" type="double" minOccurs="0"/>
					<element name="breddeGjennomsnitt" type="double" minOccurs="0"/>
					<element name="areal" type="double" minOccurs="0"/>
					<element name="tilleggsinformasjon" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FyllingsskraaningPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Fyllingsskraaning"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Hoeydehinder" type="fmveg:HoeydehinderType" substitutionGroup="fmveg:VegOgGateObjekterElement">
		<annotation>
			<documentation>Fysisk hinder plassert over kjørebanen. Benyttes foran tunneler, underganger etc. for å hindre for høye kjøretøy å gjøre skade.</documentation>
			<appinfo>
				<sc:taggedValue tag="NVDB_ID">610</sc:taggedValue>
			</appinfo>
		</annotation>
	</element>
	<complexType name="HoeydehinderType">
		<complexContent>
			<extension base="fmveg:VegOgGateObjekterElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="HoeydehinderPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Hoeydehinder"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Mellomprofil" type="fmveg:MellomprofilType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="MellomprofilType">
		<sequence>
			<element name="profilnummer" type="integer">
				<annotation>
					<documentation>metrering fra starten på referanse-linja</documentation>
				</annotation>
			</element>
			<element name="verdi" type="integer">
				<annotation>
					<documentation>verdien på spesifisert profilnummer</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="MellomprofilPropertyType">
		<sequence>
			<element ref="fmveg:Mellomprofil"/>
		</sequence>
	</complexType>
	<element name="Midtlinje" type="fmveg:MidtlinjeType" substitutionGroup="fmveg:SkilleMellomKjoereretningerElement"/>
	<complexType name="MidtlinjeType">
		<complexContent>
			<extension base="fmveg:SkilleMellomKjoereretningerElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MidtlinjePropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Midtlinje"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Midtrekkverk" type="fmveg:MidtrekkverkType" substitutionGroup="fmveg:SkilleMellomKjoereretningerElement"/>
	<complexType name="MidtrekkverkType">
		<complexContent>
			<extension base="fmveg:SkilleMellomKjoereretningerElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MidtrekkverkPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Midtrekkverk"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Midttrekkverk" type="fmveg:MidttrekkverkType" substitutionGroup="fmveg:SkilleMellomKjoereretningerElement"/>
	<complexType name="MidttrekkverkType">
		<complexContent>
			<extension base="fmveg:SkilleMellomKjoereretningerElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MidttrekkverkPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Midttrekkverk"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Overbygning" type="fmveg:OverbygningType" abstract="true" substitutionGroup="fmveg:VegkroppElement"/>
	<complexType name="OverbygningType" abstract="true">
		<complexContent>
			<extension base="fmveg:VegkroppElementType">
				<sequence>
					<element name="tykkelse" type="double" minOccurs="0"/>
					<element name="masseforbruk" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OverbygningPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Overbygning"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Planum" type="fmveg:PlanumType" substitutionGroup="fmveg:Underbygning"/>
	<complexType name="PlanumType">
		<complexContent>
			<extension base="fmveg:UnderbygningType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PlanumPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Planum"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="PortDoer" type="fmveg:PortDoerType" substitutionGroup="fmveg:VegOgGateObjekterElement">
		<annotation>
			<documentation>Åpning til/fra et rom/område. Kan åpnes og lukkes med dør eller port.</documentation>
			<appinfo>
				<sc:taggedValue tag="NVDB_ID">13</sc:taggedValue>
			</appinfo>
		</annotation>
	</element>
	<complexType name="PortDoerType">
		<complexContent>
			<extension base="fmveg:VegOgGateObjekterElementType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir primær materialtype for vegobjektet</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypePortDoer.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="branndør" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Branndoer.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="uforming" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_UtformingPortDoer.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="bruksområde" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir om det er innvendig belysning i leskur</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadePortDoer.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PortDoerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:PortDoer"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RabattElement" type="fmveg:RabattElementType" substitutionGroup="fmveg:VegkonstruksjonElement"/>
	<complexType name="RabattElementType">
		<complexContent>
			<extension base="fmveg:VegkonstruksjonElementType">
				<sequence>
					<element name="bruksområde" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Bruksomraade.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="utforming" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_RabattUtforming.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="material" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Material.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RabattElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:RabattElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SideomraadeElement" type="fmveg:SideomraadeElementType" substitutionGroup="fmveg:VegomraadeElement"/>
	<complexType name="SideomraadeElementType">
		<complexContent>
			<extension base="fmveg:VegomraadeElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SideomraadeElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:SideomraadeElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SkilleMellomKjoereretningerElement" type="fmveg:SkilleMellomKjoereretningerElementType" substitutionGroup="fmveg:VegkonstruksjonElement"/>
	<complexType name="SkilleMellomKjoereretningerElementType">
		<complexContent>
			<extension base="fmveg:VegkonstruksjonElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkilleMellomKjoereretningerElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:SkilleMellomKjoereretningerElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Skjaering" type="fmveg:SkjaeringType" substitutionGroup="fmveg:SideomraadeElement"/>
	<complexType name="SkjaeringType">
		<complexContent>
			<extension base="fmveg:SideomraadeElementType">
				<sequence>
					<element name="høydeMiddel" type="double" minOccurs="0"/>
					<element name="høydeMaksimal" type="double" minOccurs="0"/>
					<element name="beskjæringsID" type="string" minOccurs="0"/>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Skjaeringtype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkjaeringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Skjaering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Skjaeringstopp" type="fmveg:SkjaeringstoppType" substitutionGroup="fmveg:SideomraadeElement"/>
	<complexType name="SkjaeringstoppType">
		<complexContent>
			<extension base="fmveg:SideomraadeElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkjaeringstoppPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Skjaeringstopp"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Skjerm" type="fmveg:SkjermType" substitutionGroup="fmveg:VegOgGateObjekterElement">
		<annotation>
			<appinfo>
				<sc:taggedValue tag="NVDB_ID">3</sc:taggedValue>
			</appinfo>
		</annotation>
	</element>
	<complexType name="SkjermType">
		<complexContent>
			<extension base="fmveg:VegOgGateObjekterElementType">
				<sequence>
					<element name="bruksområde" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadeSkjerm.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="materialeSkjerm" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeSkjerm.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="materialeSøyler" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialeSoeyler.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="fundamenteringPlassering" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_FundamenteringPlassering.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="typeFundament" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeFundament.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkjermPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Skjerm"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Skraaning" type="fmveg:SkraaningType" substitutionGroup="fmveg:SideomraadeElement"/>
	<complexType name="SkraaningType">
		<complexContent>
			<extension base="fmveg:SideomraadeElementType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Skjaeringtype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="tilleggsinformasjon" type="string" minOccurs="0"/>
					<element name="breddeGjSnitt" type="double" minOccurs="0"/>
					<element name="areal" type="integer" minOccurs="0"/>
					<element name="lengde" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkraaningPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Skraaning"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Slitelag" type="fmveg:SlitelagType" substitutionGroup="fmveg:Overbygning"/>
	<complexType name="SlitelagType">
		<complexContent>
			<extension base="fmveg:OverbygningType">
				<sequence>
					<element name="areal" type="double" minOccurs="0"/>
					<element name="øvreNominelleSteinstørrelse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Steinstørrelse.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="massetype" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Massetype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SlitelagPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Slitelag"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Stroesandkasse" type="fmveg:StroesandkasseType" substitutionGroup="fmveg:VegOgGateObjekterElement">
		<annotation>
			<documentation>Innretning laget for lagring av strøsand.</documentation>
			<appinfo>
				<sc:taggedValue tag="NVDB_ID">29</sc:taggedValue>
			</appinfo>
		</annotation>
	</element>
	<complexType name="StroesandkasseType">
		<complexContent>
			<extension base="fmveg:VegOgGateObjekterElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StroesandkassePropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Stroesandkasse"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Underbygning" type="fmveg:UnderbygningType" substitutionGroup="fmveg:VegkroppElement"/>
	<complexType name="UnderbygningType">
		<complexContent>
			<extension base="fmveg:VegkroppElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="UnderbygningPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Underbygning"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="UndergrunnForbedret" type="fmveg:UndergrunnForbedretType" substitutionGroup="fmveg:Underbygning"/>
	<complexType name="UndergrunnForbedretType">
		<complexContent>
			<extension base="fmveg:UnderbygningType">
				<sequence>
					<element name="merknad" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="UndergrunnForbedretPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:UndergrunnForbedret"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VegElement" type="fmveg:VegElementType" substitutionGroup="svvli:VU053Feature"/>
	<complexType name="VegElementType">
		<complexContent>
			<extension base="svvli:VU053FeatureType">
				<sequence>
					<element name="vegElementID" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:VegElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VegElementSamling" type="fmveg:VegElementSamlingType" abstract="true" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="VegElementSamlingType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="vegElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmveg:VegElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegElementSamlingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:VegElementSamling"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VegOgGateObjekter" type="fmveg:VegOgGateObjekterType" substitutionGroup="fmveg:VegElementSamling"/>
	<complexType name="VegOgGateObjekterType">
		<complexContent>
			<extension base="fmveg:VegElementSamlingType">
				<sequence>
					<element name="vegOgGateObjekterElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmveg:VegOgGateObjekterElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegOgGateObjekterPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:VegOgGateObjekter"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VegOgGateObjekterElement" type="fmveg:VegOgGateObjekterElementType" substitutionGroup="fmveg:VegElement"/>
	<complexType name="VegOgGateObjekterElementType">
		<complexContent>
			<extension base="fmveg:VegElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegOgGateObjekterElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:VegOgGateObjekterElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Vegbom" type="fmveg:VegbomType" substitutionGroup="fmveg:VegOgGateObjekterElement">
		<annotation>
			<documentation>Fysisk hinder for å kunne stenge en veg. F.eks. i forbindelse med rasfare, tunnel, høgfjell etc.</documentation>
		</annotation>
	</element>
	<complexType name="VegbomType">
		<complexContent>
			<extension base="fmveg:VegOgGateObjekterElementType">
				<sequence>
					<element name="bruksområde" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_BruksomraadeVegbom.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_TypeVegbom.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="materiale" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_MaterialtypeVegbom.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegbomPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Vegbom"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Vegkonstruksjon" type="fmveg:VegkonstruksjonType" substitutionGroup="fmveg:VegElementSamling"/>
	<complexType name="VegkonstruksjonType">
		<complexContent>
			<extension base="fmveg:VegElementSamlingType">
				<sequence>
					<element name="vegkonstruksjon" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmveg:VegkonstruksjonElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegkonstruksjonPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Vegkonstruksjon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VegkonstruksjonElement" type="fmveg:VegkonstruksjonElementType" abstract="true" substitutionGroup="fmveg:VegElement"/>
	<complexType name="VegkonstruksjonElementType" abstract="true">
		<complexContent>
			<extension base="fmveg:VegElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegkonstruksjonElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:VegkonstruksjonElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VegkroppElement" type="fmveg:VegkroppElementType" substitutionGroup="fmveg:VegkonstruksjonElement"/>
	<complexType name="VegkroppElementType">
		<complexContent>
			<extension base="fmveg:VegkonstruksjonElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegkroppElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:VegkroppElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Vegomraade" type="fmveg:VegomraadeType" substitutionGroup="fmveg:VegElementSamling"/>
	<complexType name="VegomraadeType">
		<complexContent>
			<extension base="fmveg:VegElementSamlingType">
				<sequence>
					<element name="vegomraadeElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmveg:VegomraadeElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegomraadePropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:Vegomraade"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VegomraadeElement" type="fmveg:VegomraadeElementType" substitutionGroup="fmveg:VegElement"/>
	<complexType name="VegomraadeElementType">
		<complexContent>
			<extension base="fmveg:VegElementType">
				<sequence>
					<element name="vegDesign" type="fmveg:VegomraadeRefPropertyType"/>
					<element name="ytterkant" type="fmveg:YtterkantPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegomraadeElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmveg:VegomraadeElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VegomraadeRef" type="fmveg:VegomraadeRefType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="VegomraadeRefType">
		<sequence>
			<element name="flatetype" type="gml:CodeType">
				<annotation>
					<appinfo>
						<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_VegomraadeElementType.xml</defaultCodeSpace>
					</appinfo>
				</annotation>
			</element>
			<element name="flaterekkefølge" type="integer"/>
			<element name="vegside" type="gml:CodeType">
				<annotation>
					<appinfo>
						<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmveg_Side.xml</defaultCodeSpace>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="VegomraadeRefPropertyType">
		<sequence>
			<element ref="fmveg:VegomraadeRef"/>
		</sequence>
	</complexType>
	<element name="Ytterkant" type="fmveg:YtterkantType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="YtterkantType">
		<choice>
			<element name="gitteVerdier" type="fmveg:BreddeHellingGittVerdiPropertyType"/>
		</choice>
	</complexType>
	<complexType name="YtterkantPropertyType">
		<sequence>
			<element ref="fmveg:Ytterkant"/>
		</sequence>
	</complexType>
</schema>
