InternTesting/xsd_files/2023/v1_0_0/FagmodellRekkverk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fmrek="https://skjema.atlas.vegvesen.no/r000/fagmodellrekkverk/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:svvli="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" targetNamespace="https://skjema.atlas.vegvesen.no/r000/fagmodellrekkverk/1.0" elementFormDefault="qualified" version="1.0">
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Landinfra.xsd"/>
	<import namespace="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Leveranse.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="Betong" type="fmrek:BetongType" substitutionGroup="fmrek:RekkverkElement"/>
	<complexType name="BetongType">
		<complexContent>
			<extension base="fmrek:RekkverkElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BetongPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:Betong"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FagmodellRekkverk" type="fmrek:FagmodellRekkverkType" substitutionGroup="lv:Fagmodell"/>
	<complexType name="FagmodellRekkverkType">
		<complexContent>
			<extension base="lv:FagmodellType">
				<sequence>
					<element name="rekkverkElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmrek:FagmodellRekkverkElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="rekkverkElementSamling" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmrek:RekkverkElementSamling"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FagmodellRekkverkPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:FagmodellRekkverk"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FagmodellRekkverkElement" type="fmrek:FagmodellRekkverkElementType" substitutionGroup="svvli:VU053PhysicalElement"/>
	<complexType name="FagmodellRekkverkElementType">
		<complexContent>
			<extension base="svvli:VU053PhysicalElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FagmodellRekkverkElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:FagmodellRekkverkElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Haandlist" type="fmrek:HaandlistType" substitutionGroup="fmrek:RekkverkElement"/>
	<complexType name="HaandlistType">
		<complexContent>
			<extension base="fmrek:RekkverkElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="HaandlistPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:Haandlist"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Overgang" type="fmrek:OvergangType" substitutionGroup="fmrek:RekkverkElement"/>
	<complexType name="OvergangType">
		<complexContent>
			<extension base="fmrek:RekkverkElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OvergangPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:Overgang"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Rekkverk" type="fmrek:RekkverkType" substitutionGroup="fmrek:RekkverkElementSamling"/>
	<complexType name="RekkverkType">
		<complexContent>
			<extension base="fmrek:RekkverkElementSamlingType">
				<sequence>
					<element name="plassering" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_PlasseringPaaBru.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_PlasseringPaaBru.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="stolpeavstand" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Stolpeavstand.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Stolpeavstand.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="rekkverkstype" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Rekkverkstype.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Rekkverkstype.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="sikkerhetsavstand" type="double" minOccurs="0"/>
					<element name="bruksområde" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Bruksomraade.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Bruksomraade.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="senterlinje" type="gml:CurvePropertyType"/>
					<element name="stoetputeElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmrek:StoetputeElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="rekverkElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmrek:RekkverkElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="rekkverksendeElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmrek:RekkverksendeElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RekkverkPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:Rekkverk"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RekkverkElement" type="fmrek:RekkverkElementType" abstract="true" substitutionGroup="fmrek:FagmodellRekkverkElement"/>
	<complexType name="RekkverkElementType" abstract="true">
		<complexContent>
			<extension base="fmrek:FagmodellRekkverkElementType">
				<sequence>
					<element name="produktnavnTypegodkjenning" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_ProduktnavnTypegodkjenning.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_ProduktnavnTypegodkjenning.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="etableringsår" type="dateTime" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RekkverkElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:RekkverkElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RekkverkElementSamling" type="fmrek:RekkverkElementSamlingType" abstract="true" substitutionGroup="svvli:VU053ElementSamling"/>
	<complexType name="RekkverkElementSamlingType" abstract="true">
		<complexContent>
			<extension base="svvli:VU053ElementSamlingType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RekkverkElementSamlingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:RekkverkElementSamling"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RekkverksendeElement" type="fmrek:RekkverksendeElementType" substitutionGroup="fmrek:FagmodellRekkverkElement"/>
	<complexType name="RekkverksendeElementType">
		<complexContent>
			<extension base="fmrek:FagmodellRekkverkElementType">
				<sequence>
					<element name="type" type="gml:CodeType">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_TypeRekkverksende.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_TypeRekkverksende.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="etableringsår" type="dateTime"/>
					<element name="sikkerhetsklasse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_SikkerhetsklasseType.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_SikkerhetsklasseType.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="energiabsorpsjon" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Energiabsorpsjon.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Energiabsorpsjon.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="bevegelsesklasse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Bevegelsesklasse.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Bevegelsesklasse.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="skaderisiko" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Skaderisiko.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Skaderisiko.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="produktnavnTypegodkjenning" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_ProduktnavnTypegodkjenningRekkverksende.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_ProduktnavnTypegodkjenningRekkverksende.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="utbøyningsklasse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Utboeyningsklasse.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Utboeyningsklasse.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RekkverksendeElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:RekkverksendeElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Skinne" type="fmrek:SkinneType" substitutionGroup="fmrek:RekkverkElement"/>
	<complexType name="SkinneType">
		<complexContent>
			<extension base="fmrek:RekkverkElementType">
				<sequence>
					<element name="skinneutrustning" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Skinneutrustning.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Skinneutrustning.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="mcSkinne" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_McSkinne.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_McSkinne.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkinnePropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:Skinne"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="StoetputeElement" type="fmrek:StoetputeElementType" substitutionGroup="fmrek:FagmodellRekkverkElement"/>
	<complexType name="StoetputeElementType">
		<complexContent>
			<extension base="fmrek:FagmodellRekkverkElementType">
				<sequence>
					<element name="sikkerhetsklasse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Sikkerhetsklasse.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Sikkerhetsklasse.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="avledningsevne" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Avledningsevne.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Avledningsevne.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="bevegelsesklasse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Bevegelsesklasse.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Bevegelsesklasse.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="utbøyningsklasse" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Utboeyningsklasse.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Utboeyningsklasse.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="skaderisiko" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Skaderisiko.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_Skaderisiko.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="etableringsår" type="dateTime" minOccurs="0"/>
					<element name="produktnavnTypegodkjenning" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_ProduktnavnTypegodkjenningStoetpute.gml</sc:targetCodeListURI>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmrek_ProduktnavnTypegodkjenningStoetpute.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StoetputeElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:StoetputeElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Stolpe" type="fmrek:StolpeType" substitutionGroup="fmrek:RekkverkElement"/>
	<complexType name="StolpeType">
		<complexContent>
			<extension base="fmrek:RekkverkElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StolpePropertyType">
		<sequence minOccurs="0">
			<element ref="fmrek:Stolpe"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
