InternTesting/xsd_files/2023/v1_0_0/Fellesmoduler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fm="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/1.0" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/1.0" elementFormDefault="qualified" version="1.0">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="Aktoer" type="fm:AktoerType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="AktoerType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="part" type="gml:CodeType">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fm_Partstype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="organisasjonsnavn" type="string"/>
					<element name="personRolle" type="fm:PersonRollePropertyType" maxOccurs="unbounded"/>
					<element name="person" type="fm:PersonPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AktoerPropertyType">
		<sequence minOccurs="0">
			<element ref="fm:Aktoer"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AktoerRolleKlasse" type="fm:AktoerRolleKlasseType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="AktoerRolleKlasseType">
		<choice>
			<element name="rolle" type="gml:CodeType">
				<annotation>
					<appinfo>
						<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fm_AktoerRolle.xml</defaultCodeSpace>
					</appinfo>
				</annotation>
			</element>
			<element name="fagressus" type="gml:CodeType">
				<annotation>
					<appinfo>
						<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fm_Fagressurs.xml</defaultCodeSpace>
					</appinfo>
				</annotation>
			</element>
		</choice>
	</complexType>
	<complexType name="AktoerRolleKlassePropertyType">
		<sequence>
			<element ref="fm:AktoerRolleKlasse"/>
		</sequence>
	</complexType>
	<element name="Ansvar" type="fm:AnsvarType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="AnsvarType">
		<choice>
			<element name="aktør">
				<complexType>
					<complexContent>
						<extension base="gml:AbstractFeatureMemberType">
							<sequence minOccurs="0">
								<element ref="fm:Aktoer"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="oppdragsgiver">
				<complexType>
					<complexContent>
						<extension base="gml:AbstractFeatureMemberType">
							<sequence minOccurs="0">
								<element ref="fm:Oppdragsgiver"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</choice>
	</complexType>
	<complexType name="AnsvarPropertyType">
		<sequence>
			<element ref="fm:Ansvar"/>
		</sequence>
	</complexType>
	<element name="Bestillingstype" type="fm:BestillingstypeType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="BestillingstypeType">
		<sequence>
			<element name="kontraktsform" type="gml:CodeType"/>
			<element name="konkurransegrunnlagsmal" type="gml:CodeType"/>
			<element name="konkurranseform" type="gml:CodeType"/>
		</sequence>
	</complexType>
	<complexType name="BestillingstypePropertyType">
		<sequence>
			<element ref="fm:Bestillingstype"/>
		</sequence>
	</complexType>
	<element name="Koordinatsystem" type="fm:KoordinatsystemType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="KoordinatsystemType">
		<sequence>
			<element name="syskode" type="gml:CodeType">
				<annotation>
					<appinfo>
						<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/api/epsg-koder.xml</defaultCodeSpace>
					</appinfo>
				</annotation>
			</element>
			<element name="datum" type="string" minOccurs="0"/>
			<element name="projeksjon" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="KoordinatsystemPropertyType">
		<sequence>
			<element ref="fm:Koordinatsystem"/>
		</sequence>
	</complexType>
	<element name="Oppdragsgiver" type="fm:OppdragsgiverType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="OppdragsgiverType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="rolle" type="gml:CodeType">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fm_OppdragsgiverRolle.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="organisasjonsnavn" type="string"/>
					<element name="person" type="fm:PersonPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OppdragsgiverPropertyType">
		<sequence minOccurs="0">
			<element ref="fm:Oppdragsgiver"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Part" type="fm:PartType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="PartType">
		<choice>
			<element name="oppdragsgiver" type="gml:CodeType"/>
			<element name="raadgiver" type="gml:CodeType"/>
			<element name="entreprenoer" type="gml:CodeType"/>
			<element name="generisk" type="gml:CodeType"/>
		</choice>
	</complexType>
	<complexType name="PartPropertyType">
		<sequence>
			<element ref="fm:Part"/>
		</sequence>
	</complexType>
	<element name="Person" type="fm:PersonType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="PersonType">
		<sequence>
			<element name="navn" type="string"/>
			<element name="tel" type="integer"/>
			<element name="e_post" type="integer"/>
		</sequence>
	</complexType>
	<complexType name="PersonPropertyType">
		<sequence>
			<element ref="fm:Person"/>
		</sequence>
	</complexType>
	<element name="PersonRolle" type="fm:PersonRolleType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="PersonRolleType">
		<sequence>
			<element name="rolle" type="fm:AktoerRolleKlassePropertyType"/>
		</sequence>
	</complexType>
	<complexType name="PersonRollePropertyType">
		<sequence>
			<element ref="fm:PersonRolle"/>
		</sequence>
	</complexType>
	<element name="ProsjektOrganisasjon" type="fm:ProsjektOrganisasjonType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="ProsjektOrganisasjonType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="prosjektId" type="string"/>
					<element name="prosjekttype" type="gml:CodeType">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fm_Prosjekttype.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="prosjektnavn" type="fm:ProsjektnavnStandardPropertyType"/>
					<element name="fasestatus" type="gml:CodeType">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fm_prosjektfase.xml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="roller" type="string"/>
					<element name="bestillingstype" type="fm:BestillingstypePropertyType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="aktør" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fm:Aktoer"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="oppdragsgiver">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fm:Oppdragsgiver"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProsjektOrganisasjonPropertyType">
		<sequence minOccurs="0">
			<element ref="fm:ProsjektOrganisasjon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ProsjektnavnStandard" type="fm:ProsjektnavnStandardType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="ProsjektnavnStandardType">
		<sequence>
			<element name="vegnummer" type="gml:CodeType">
				<annotation>
					<appinfo>
						<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fm_Vegnummer.xml</defaultCodeSpace>
					</appinfo>
				</annotation>
			</element>
			<element name="startSted" type="string"/>
			<element name="endSted" type="string"/>
		</sequence>
	</complexType>
	<complexType name="ProsjektnavnStandardPropertyType">
		<sequence>
			<element ref="fm:ProsjektnavnStandard"/>
		</sequence>
	</complexType>
	<element name="Prosjektomraade" type="fm:ProsjektomraadeType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="ProsjektomraadeType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="prosjektomraade" type="gml:PolygonType"/>
					<element name="inngrepssone" type="gml:PolygonType"/>
					<element name="visualiseringssone" type="gml:PolygonType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProsjektomraadePropertyType">
		<sequence minOccurs="0">
			<element ref="fm:Prosjektomraade"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Vegprosjekt" type="fm:VegprosjektType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="VegprosjektType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="prosjektområde">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fm:Prosjektomraade"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="prosjektorganisasjon" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fm:ProsjektOrganisasjon"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="koordinatsystem" type="fm:KoordinatsystemPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VegprosjektPropertyType">
		<sequence minOccurs="0">
			<element ref="fm:Vegprosjekt"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
