InternTesting/xsd_files/2023/v1_0_0/GrunnlagsmodellTerreng.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gmgld="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmter="https://skjema.atlas.vegvesen.no/r000/grunnlagsmodellterreng/0.1" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:svvli="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/grunnlagsmodellterreng/0.1" version="0.1">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/Grunnlagsdata.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Landinfra.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Leveranse.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="GrunnlagsmodellTerreng" substitutionGroup="lv:Grunnlagsmodell" type="gmter:GrunnlagsmodellTerrengType"/>
  <complexType name="GrunnlagsmodellTerrengType">
    <complexContent>
      <extension base="lv:GrunnlagsmodellType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="terrengElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmter:TerrengElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="terrengElementSamling">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmter:TerrengElementSamling"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrunnlagsmodellTerrengPropertyType">
    <sequence minOccurs="0">
      <element ref="gmter:GrunnlagsmodellTerreng"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="TerrengElement" substitutionGroup="svvli:VU053Feature" type="gmter:TerrengElementType"/>
  <complexType abstract="true" name="TerrengElementType">
    <complexContent>
      <extension base="svvli:VU053FeatureType">
        <sequence>
          <element minOccurs="0" name="verifiseringsdato" type="dateTime">
            <annotation>
              <documentation>Den datoen at terrengmodellen er godkjent av geomatikk i forhold til beste tilgjengelige data i prosjektet</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="grunnlagsdataBruk">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmgld:GrunnlagsdataBrukt"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="sone" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_Sone.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_Sone.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerrengElementPropertyType">
    <sequence minOccurs="0">
      <element ref="gmter:TerrengElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TerrengElementSamling" substitutionGroup="svvli:VU053ElementSamling" type="gmter:TerrengElementSamlingType"/>
  <complexType name="TerrengElementSamlingType">
    <complexContent>
      <extension base="svvli:VU053ElementSamlingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="terrengOverflate">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmter:TerrengOverflate"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="terrenglinje">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmter:Terrenglinje"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="terrengpunkt">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmter:Terrengpunkt"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerrengElementSamlingPropertyType">
    <sequence minOccurs="0">
      <element ref="gmter:TerrengElementSamling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TerrengOverflate" substitutionGroup="gmter:TerrengElement" type="gmter:TerrengOverflateType"/>
  <complexType name="TerrengOverflateType">
    <complexContent>
      <extension base="gmter:TerrengElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerrengOverflatePropertyType">
    <sequence minOccurs="0">
      <element ref="gmter:TerrengOverflate"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Terrenglinje" substitutionGroup="gmter:TerrengElement" type="gmter:TerrenglinjeType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="kilde">SOSI</sc:taggedValue>
        <sc:taggedValue tag="referanse">Terreng 4.0</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TerrenglinjeType">
    <complexContent>
      <extension base="gmter:TerrengElementType">
        <sequence>
          <element minOccurs="0" name="høyde" type="integer">
            <annotation>
              <documentation>height: angivelse av høydekurvens høyde over høydereferansen i meter- og oppgis som et desimalt tall hvis nødvendig

-- Definition -- 
indication of the depression curve's height above the height reference in metres - to be given with decimals if necessary</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="linjeType" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_TerrenglinjeType.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_TerrenglinjeType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="gml:CodeType">
            <annotation>
              <documentation>medium: objektets beliggenhet i forhold til jordoverflaten

-- Definition -- 
the location of the object relative to the earth's surface</documentation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_Medium.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_Medium.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerrenglinjePropertyType">
    <sequence minOccurs="0">
      <element ref="gmter:Terrenglinje"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Terrengpunkt" substitutionGroup="gmter:TerrengElement" type="gmter:TerrengpunktType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="kilde">SOSI</sc:taggedValue>
        <sc:taggedValue tag="referanse">Terreng 4.0</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="TerrengpunktType">
    <complexContent>
      <extension base="gmter:TerrengElementType">
        <sequence>
          <element minOccurs="0" name="høyde" type="integer">
            <annotation>
              <documentation>height: angivelse av høydekurvens høyde over høydereferansen i meter- og oppgis som et desimalt tall hvis nødvendig

-- Definition -- 
indication of the depression curve's height above the height reference in metres - to be given with decimals if necessary</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="medium" type="gml:CodeType">
            <annotation>
              <documentation>medium: objektets beliggenhet i forhold til jordoverflaten

-- Definition -- 
the location of the object relative to the earth's surface</documentation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_Medium.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_Medium.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="punkttype" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_terrengpunktType.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmter_terrengpunktType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerrengpunktPropertyType">
    <sequence minOccurs="0">
      <element ref="gmter:Terrengpunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
