InternTesting/xsd_files/2023/v1_0_0/Grunnlagsdata.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fm="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/1.0" xmlns:gmgld="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" version="0.1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/Fellesmoduler.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Datakilde" substitutionGroup="gml:AbstractObject" type="gmgld:DatakildeType"/>
  <complexType name="DatakildeType">
    <sequence>
      <element minOccurs="0" name="filnavn" type="string"/>
      <element minOccurs="0" name="datafangstmetoder" type="gml:CodeType">
        <annotation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgld_Datafangstmetode.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="utførtAv" type="string"/>
      <element minOccurs="0" name="koordinatsystem" type="fm:KoordinatsystemPropertyType"/>
      <element minOccurs="0" name="dataeier" type="gml:CodeType">
        <annotation>
          <appinfo>
            <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/api/organisasjoner.xml</defaultCodeSpace>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="datasettnavn" type="string"/>
    </sequence>
  </complexType>
  <complexType name="DatakildePropertyType">
    <sequence>
      <element ref="gmgld:Datakilde"/>
    </sequence>
  </complexType>
  <element name="GrunnlagsdataBrukt" substitutionGroup="gml:AbstractFeature" type="gmgld:GrunnlagsdataBruktType"/>
  <complexType name="GrunnlagsdataBruktType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="datakilde" type="gmgld:DatakildePropertyType"/>
          <element name="kildevurdering" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrunnlagsdataBruktPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgld:GrunnlagsdataBrukt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
