InternTesting/xsd_files/2023/v1_0_0/GrunnlagsmodellGrunnforhold.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gmgld="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" xmlns:gmgrf="https://skjema.atlas.vegvesen.no/r000/grunnlagsmodellgrunnforhold/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:svvli="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/grunnlagsmodellgrunnforhold/0.1" version="0.1">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/Grunnlagsdata.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Leveranse.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_0_0/SVV_Landinfra.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BergIDag" substitutionGroup="gmgrf:ObservasjonElement" type="gmgrf:BergIDagType"/>
  <complexType name="BergIDagType">
    <complexContent>
      <extension base="gmgrf:ObservasjonElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BergIDagPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:BergIDag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="CPTU" substitutionGroup="gmgrf:UndersoekelseElement" type="gmgrf:CPTUType"/>
  <complexType name="CPTUType">
    <complexContent>
      <extension base="gmgrf:UndersoekelseElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CPTUPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:CPTU"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GrunnUndersoekelserElement" substitutionGroup="svvli:VU053Feature" type="gmgrf:GrunnUndersoekelserElementType"/>
  <complexType name="GrunnUndersoekelserElementType">
    <complexContent>
      <extension base="svvli:VU053FeatureType">
        <sequence>
          <element minOccurs="0" name="grunnlagsdataBrukt">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmgld:GrunnlagsdataBrukt"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrunnUndersoekelserElementPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:GrunnUndersoekelserElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GrunnUndersoekelserElementSamling" substitutionGroup="gml:AbstractFeature" type="gmgrf:GrunnUndersoekelserElementSamlingType"/>
  <complexType name="GrunnUndersoekelserElementSamlingType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="undersoekelseElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmgrf:UndersoekelseElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="observasjonElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmgrf:ObservasjonElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrunnUndersoekelserElementSamlingPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:GrunnUndersoekelserElementSamling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GrunnlagsmodellGrunnforhold" substitutionGroup="lv:Grunnlagsmodell" type="gmgrf:GrunnlagsmodellGrunnforholdType">
    <annotation>
      <documentation>Grunnlagsmodellen “Grunnforhold” skal vise informasjon om geologiske- og geotekniske forhold på og under terrengoverflate og vann i prosjektområdet.</documentation>
    </annotation>
  </element>
  <complexType name="GrunnlagsmodellGrunnforholdType">
    <complexContent>
      <extension base="lv:GrunnlagsmodellType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="grunnUndersoekelserElementSamling">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmgrf:GrunnUndersoekelserElementSamling"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="grunnUndersoekelserElementElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmgrf:GrunnUndersoekelserElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrunnlagsmodellGrunnforholdPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:GrunnlagsmodellGrunnforhold"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ObservasjonElement" substitutionGroup="gmgrf:GrunnUndersoekelserElement" type="gmgrf:ObservasjonElementType"/>
  <complexType name="ObservasjonElementType">
    <complexContent>
      <extension base="gmgrf:GrunnUndersoekelserElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ObservasjonElementPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:ObservasjonElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Poretrykksmaaling" substitutionGroup="gmgrf:UndersoekelseElement" type="gmgrf:PoretrykksmaalingType"/>
  <complexType name="PoretrykksmaalingType">
    <complexContent>
      <extension base="gmgrf:UndersoekelseElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PoretrykksmaalingPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:Poretrykksmaaling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Proevegraving" substitutionGroup="gmgrf:UndersoekelseElement" type="gmgrf:ProevegravingType"/>
  <complexType name="ProevegravingType">
    <complexContent>
      <extension base="gmgrf:UndersoekelseElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProevegravingPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:Proevegraving"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Proevetaking" substitutionGroup="gmgrf:UndersoekelseElement" type="gmgrf:ProevetakingType"/>
  <complexType name="ProevetakingType">
    <complexContent>
      <extension base="gmgrf:UndersoekelseElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProevetakingPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:Proevetaking"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Skraaning" substitutionGroup="gmgrf:ObservasjonElement" type="gmgrf:SkraaningType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="kilde">NVDB</sc:taggedValue>
        <sc:taggedValue tag="referanse">270</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkraaningType">
    <complexContent>
      <extension base="gmgrf:ObservasjonElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_TypeSkråning.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_TypeSkråning.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkraaningPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:Skraaning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Sondering" substitutionGroup="gmgrf:UndersoekelseElement" type="gmgrf:SonderingType"/>
  <complexType name="SonderingType">
    <complexContent>
      <extension base="gmgrf:UndersoekelseElementType">
        <sequence>
          <element name="stoppkode" type="string"/>
          <element name="type" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_SonderingType.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_SonderingType.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element name="boringIBerg" type="boolean"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SonderingPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:Sondering"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UndersoekelseElement" substitutionGroup="gmgrf:GrunnUndersoekelserElement" type="gmgrf:UndersoekelseElementType"/>
  <complexType name="UndersoekelseElementType">
    <complexContent>
      <extension base="gmgrf:GrunnUndersoekelserElementType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="punkt">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmgrf:UndersoekelsePunkt"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="pavisningsType" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_GeolPavisningstype.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_GeolPavisningstype.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="antallPunkt" type="integer"/>
          <element minOccurs="0" name="geologiskAlder" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_GeologiskAlder.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_GeologiskAlder.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kvalitet" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_TemaKvalitet.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_TemaKvalitet.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="dateringMetode" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_DateringMetode.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_DateringMetode.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="temaJustering" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_GeolTemajustering.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_GeolTemajustering.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UndersoekelseElementPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:UndersoekelseElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UndersoekelsePunkt" substitutionGroup="gml:AbstractFeature" type="gmgrf:UndersoekelsePunktType"/>
  <complexType name="UndersoekelsePunktType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="dybdde" type="integer"/>
          <element minOccurs="0" name="terrengkote" type="integer"/>
          <element minOccurs="0" name="verdi" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:targetCodeListURI>https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_GeolVerdivurdering.gml</sc:targetCodeListURI>
                <defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/gmgrf_GeolVerdivurdering.gml</defaultCodeSpace>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UndersoekelsePunktPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:UndersoekelsePunkt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vingeboring" substitutionGroup="gmgrf:UndersoekelseElement" type="gmgrf:VingeboringType"/>
  <complexType name="VingeboringType">
    <complexContent>
      <extension base="gmgrf:UndersoekelseElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VingeboringPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgrf:Vingeboring"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
