xsd_files/v0.1/Grunnlagsdata.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fm="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/0.1" xmlns:gmgld="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" version="0.1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/0.1" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/xsd_files/v0.1/Fellesmoduler.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Dataset" substitutionGroup="gml:AbstractFeature" type="gmgld:DatasetType"/>
  <complexType name="DatasetType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="filnavn" type="string"/>
          <element name="datafangstmetoder" type="string"/>
          <element name="utførtAv" type="string"/>
          <element name="koordinatsystem" type="fm:KoordinatsystemPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DatasetPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgld:Dataset"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Grunnlagsdata" substitutionGroup="gml:AbstractFeature" type="gmgld:GrunnlagsdataType"/>
  <complexType name="GrunnlagsdataType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="dekningsgradLevert" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrunnlagsdataPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgld:Grunnlagsdata"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SoneElement" substitutionGroup="gml:AbstractFeature" type="gmgld:SoneElementType"/>
  <complexType name="SoneElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="dataset">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmgld:Dataset"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="dekningsgradMinimum" type="gml:CodeType"/>
          <element name="dekningsgradMaksimun" type="gml:CodeType"/>
          <element name="kategory" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SoneElementPropertyType">
    <sequence minOccurs="0">
      <element ref="gmgld:SoneElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
