xsd_files/localhost/wip/Grunnlagsdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fm="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/1.0" xmlns:gmgld="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="https://skjema.atlas.vegvesen.no/r000/grunnlagsdata/0.1" elementFormDefault="qualified" version="0.1">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/1.0" schemaLocation="Fellesmoduler.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="Datakilde" type="gmgld:DatakildeType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="DatakildeType">
		<sequence>
			<element name="filnavn" type="string" minOccurs="0"/>
			<element name="datafangstmetoder" type="gml:CodeType" minOccurs="0"/>
			<element name="utførtAv" type="string" minOccurs="0"/>
			<element name="koordinatsystem" type="fm:KoordinatsystemPropertyType" minOccurs="0"/>
			<element name="dataeier" type="gml:CodeType" minOccurs="0">
				<annotation>
					<appinfo>
						<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://register.geonorge.no/api/organisasjoner.xml</defaultCodeSpace>
					</appinfo>
				</annotation>
			</element>
			<element name="datasettnavn" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	<complexType name="DatakildePropertyType">
		<sequence>
			<element ref="gmgld:Datakilde"/>
		</sequence>
	</complexType>
	<element name="GrunnlagsdataBrukt" type="gmgld:GrunnlagsdataBruktType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="GrunnlagsdataBruktType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="datakilde" type="gmgld:DatakildePropertyType"/>
					<element name="kildevurdering" type="string"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GrunnlagsdataBruktPropertyType">
		<sequence minOccurs="0">
			<element ref="gmgld:GrunnlagsdataBrukt"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
