xsd_files/localhost/GrunnlagsmodellTerreng.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmter="https://skjema.atlas.vegvesen.no/r000/grunnlagsmodellterreng/0.1" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/leveranse/0.1" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/grunnlagsmodellterreng/0.1" version="0.1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/leveranse/0.1" schemaLocation="Leveranse.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="GrunnlagsmodellTerreng" substitutionGroup="lv:Grunnlagsmodell" type="gmter:GrunnlagsmodellTerrengType"/>
  <complexType name="GrunnlagsmodellTerrengType">
    <complexContent>
      <extension base="lv:GrunnlagsmodellType">
        <sequence>
          <element name="dekningsgradLevert" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="terrengElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="gmter:TerrengElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GrunnlagsmodellTerrengPropertyType">
    <sequence minOccurs="0">
      <element ref="gmter:GrunnlagsmodellTerreng"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="TerrengElement" substitutionGroup="gml:AbstractFeature" type="gmter:TerrengElementType"/>
  <complexType name="TerrengElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="verifiseringsdato" type="dateTime"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerrengElementPropertyType">
    <sequence minOccurs="0">
      <element ref="gmter:TerrengElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
