xsd_programtesting/v2.0_20230413/SVV_LineareReferanser.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:svvge="https://skjema.atlas.vegvesen.no/r000/sosigenerelleegenskaper/1.0" xmlns:svvlr="https://skjema.atlas.vegvesen.no/r000/svvlinearereferanser/1.0" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/svvlinearereferanser/1.0" version="1.0">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/sosigenerelleegenskaper/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/xsd_programtesting/v2.0_20230413/SOSI_GenerelleEgenskaper.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="LinearElement" substitutionGroup="gml:AbstractFeature" type="svvlr:LinearElementType"/>
  <complexType name="LinearElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="standardLRM" type="svvlr:LineærReferanseMetodeType">
            <annotation>
              <documentation>STANDARDLRM: Standard metode som brukes for å angi lineære referanser til nettverkselementet

Merknad: Kan overstyres for den enkelte posisjonsangivelse. 

ISO19148: LR_ILinearElement ::defaultLRM() : LR_LinearReferencingMethod</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="måltLengde" type="double">
            <annotation>
              <documentation>STARTVERDI: Målt lengde for lenken, innenfor lenkens lineære referansesystem

Merknad: Målt lengde overstyrer geometrilengde. 

ISO19148: LR_ILinearElement ::measure(measureAttribute : CharacterString = defaultLength) : Measure</documentation>
              <appinfo>
                <sc:taggedValue tag="SOSI_navn">LRMÅLTLENGDE</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="startposisjon" type="double">
            <annotation>
              <documentation>STARTVERDI: startposisjon for lenken i et lineært referansesystem

ISO19148: 
LR_ILinearElement ::
startValue(LRM : LinearReferencingMethod) : Measure</documentation>
              <appinfo>
                <sc:taggedValue tag="SOSI_navn">LRSTARTVERDI</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="sluttposisjon" type="double">
            <annotation>
              <documentation>STARTVERDI: sluttposisjon for lenken i et lineært referansesystem

ISO19148: Finnes ikke</documentation>
              <appinfo>
                <sc:taggedValue tag="SOSI_navn">LRSLUTTVERDI</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="feature">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="svvge:SOSIFeature"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LinearElementPropertyType">
    <sequence minOccurs="0">
      <element ref="svvlr:LinearElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="LineærPosisjon" substitutionGroup="gml:AbstractObject" type="svvlr:LineærPosisjonType">
    <annotation>
      <documentation>Angivelse av en posisjon langs et nettverkselement

Realisering av ISO19148: LE_EventLocation</documentation>
      <appinfo>
        <sc:taggedValue tag="SOSI_navn">LRPOSISJON</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType abstract="true" name="LineærPosisjonType">
    <sequence>
      <element minOccurs="0" name="lineærReferanseMetode" type="svvlr:LineærReferanseMetodeType">
        <annotation>
          <documentation>metode som er brukt for å angi lineære referanser

Merknad: Dersom verdi er angitt overstyrer denne standard metode for det refererte nettverkselementet. 

ISO19148: overridingLRM</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="retning" type="svvlr:RetningskodeType">
        <annotation>
          <documentation>Posisjonens retning i forhold til nettverkselementet sin retning</documentation>
          <appinfo>
            <sc:taggedValue tag="SOSI_navn">RETNING</sc:taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" name="avstandSide" type="double">
        <annotation>
          <documentation>Forskyvning til side for nettverkselementet. Positivt tall betyr høyre side, negativt tall betyr venstre side.
ISO19148: offsetLateralDistance</documentation>
          <appinfo>
            <sc:taggedValue tag="SOSI_navn">LRAVSTANDSIDE</sc:taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="linearElement">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="svvlr:LinearElement"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="LineærPosisjonPropertyType">
    <sequence>
      <element ref="svvlr:LineærPosisjon"/>
    </sequence>
  </complexType>
  <element name="LineærPosisjonPunkt" substitutionGroup="svvlr:LineærPosisjon" type="svvlr:LineærPosisjonPunktType">
    <annotation>
      <documentation>lineær posisjon som et punkt

Merknad:
Dette er en forenkling i forhold til ISO19148, der posisjonsangivelsene er en egen datatype LR_DistanceExpression som har igjen egenskapen DistanceAlong.
LR_DistanceExpression har også en subtype LRO_LateralOffsetDistanceExpression, som inneholder egenskapen offsetLateralDistance (avstandSide).

Realisering av ISO19148: LE_AtLocation</documentation>
      <appinfo>
        <sc:taggedValue tag="SOSI_navn">LRPUNKT</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LineærPosisjonPunktType">
    <complexContent>
      <extension base="svvlr:LineærPosisjonType">
        <sequence>
          <element name="posisjon" type="double">
            <annotation>
              <documentation>posisjon langs nettverkselementet, i henhold til referansemetoden 

Merknad: Ref ISO19148: atPosition -  distanceAlong</documentation>
              <appinfo>
                <sc:taggedValue tag="SOSI_navn">LRPUNKTPOSISJON</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineærPosisjonPunktPropertyType">
    <sequence>
      <element ref="svvlr:LineærPosisjonPunkt"/>
    </sequence>
  </complexType>
  <element name="LineærPosisjonStrekning" substitutionGroup="svvlr:LineærPosisjon" type="svvlr:LineærPosisjonStrekningType">
    <annotation>
      <documentation>lineær posisjon som en strekning

Merknad: 
Dette er en forenkling i forhold til ISO19148, der posisjonsangivelsene er en egen datatype LR_DistanceExpression som har igjen egenskapen DistanceAlong.
LR_DistanceExpression har også en subtype LRO_LateralOffsetDistanceExpression, som inneholder egenskapen offsetLateralDistance (avstandSide).

Realisering av ISO19148: LE_FromToLocation</documentation>
      <appinfo>
        <sc:taggedValue tag="SOSI_navn">LRSTREKNING</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LineærPosisjonStrekningType">
    <complexContent>
      <extension base="svvlr:LineærPosisjonType">
        <sequence>
          <element name="fraPosisjon" type="double">
            <annotation>
              <documentation>startposisjon langs nettverkselementet, i henhold til referansemetoden 

Merknad: Ref ISO19148: fromPosition -  distanceAlong</documentation>
              <appinfo>
                <sc:taggedValue tag="SOSI_navn">LRFRAPOSISJON</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element name="tilPosisjon" type="double">
            <annotation>
              <documentation>sluttposisjon langs nettverkselementet, i henhold til referansemetoden

Merknad: Ref ISO19148: toPosition -  distanceAlong</documentation>
              <appinfo>
                <sc:taggedValue tag="SOSI_navn">LRTILPOSISJON</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LineærPosisjonStrekningPropertyType">
    <sequence>
      <element ref="svvlr:LineærPosisjonStrekning"/>
    </sequence>
  </complexType>
  <simpleType name="LineærReferanseMetodeType">
    <annotation>
      <documentation>Metode brukt for lineære referanser

Merknad:

Dersom offset er i bruk så angis også positiv offsetretning til side (høyre eller venstre) og vertikalt (opp/ned). 
Felles for alle metoder i Norge:
 - offsetUnits: "meter" 
 - positiveLateralOffsetDirection: "right" 
positiveVerticalOffsetDirection: "up"

Dette er en kodeliste basert på en forenkling av ISO19148: LR_LinearReferencingMethod, som benytter 4 attributter
 - navn 
 - type (absolutt, relativ eller interpolert) 
 - måleenhet 
 - restriksjoner/regler (constraints)</documentation>
      <appinfo>
        <sc:taggedValue tag="SOSI_navn">LRLRM</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="svvlr:LineærReferanseMetodeEnumerationType svvlr:LineærReferanseMetodeOtherType"/>
  </simpleType>
  <simpleType name="LineærReferanseMetodeEnumerationType">
    <annotation>
      <documentation>Metode brukt for lineære referanser

Merknad:

Dersom offset er i bruk så angis også positiv offsetretning til side (høyre eller venstre) og vertikalt (opp/ned). 
Felles for alle metoder i Norge:
 - offsetUnits: "meter" 
 - positiveLateralOffsetDirection: "right" 
positiveVerticalOffsetDirection: "up"

Dette er en kodeliste basert på en forenkling av ISO19148: LR_LinearReferencingMethod, som benytter 4 attributter
 - navn 
 - type (absolutt, relativ eller interpolert) 
 - måleenhet 
 - restriksjoner/regler (constraints)</documentation>
      <appinfo>
        <sc:taggedValue tag="SOSI_navn">LRLRM</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="metrering">
        <annotation>
          <documentation>posisjon fra start av nettverkselementet (lenken), angitt i meter

Merknad: Kan ta utgangspunkt i en angitt startverdi for nettverkselementet.

ISO19148: LR_LinearReferencingMethod:
 - type: "absolute"  
 - units: "meter"</documentation>
          <appinfo>
            <sc:taggedValue tag="SOSI_verdi">1</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="kilometrering">
        <annotation>
          <documentation>posisjon fra start av nettverkselementet, angitt i kilometer. 

Merknad: Kan ta utgangspunkt i en angitt startverdi for nettverkselementet (lenken).

ISO19148: LR_LinearReferencingMethod:
 - type: "absolute" 
 - units: "kilometer"</documentation>
          <appinfo>
            <sc:taggedValue tag="SOSI_verdi">2</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="normalisert">
        <annotation>
          <documentation>posisjon fra start av nettverkselementet, angitt som et desimaltall mellom 0 og 1, i forhold til start (0) og slutt (1) på nettverkselementet (lenken)

Merknad: 
ISO19148: LR_LinearReferencingMethod:
 - type: "Interpolative"  
 - units: "0..1"</documentation>
          <appinfo>
            <sc:taggedValue tag="SOSI_verdi">3</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="prosent">
        <annotation>
          <documentation>posisjon fra start av nettverkselementet, angitt i prosent av lengden på nettverkselementet (lenken)

Merknad: 
ISO19148: LR_LinearReferencingMethod:
 - type: "Interpolative"  
 - units: "percent"</documentation>
          <appinfo>
            <sc:taggedValue tag="SOSI_verdi">5</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="LineærReferanseMetodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="RetningskodeType">
    <annotation>
      <documentation>Kodeliste for å angi retning i forrhold til nettverkselementets geometri.</documentation>
      <appinfo>
        <sc:taggedValue tag="SOSI_navn">RETNINGSKODE</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="svvlr:RetningskodeEnumerationType svvlr:RetningskodeOtherType"/>
  </simpleType>
  <simpleType name="RetningskodeEnumerationType">
    <annotation>
      <documentation>Kodeliste for å angi retning i forrhold til nettverkselementets geometri.</documentation>
      <appinfo>
        <sc:taggedValue tag="SOSI_navn">RETNINGSKODE</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="med">
        <annotation>
          <documentation>Retning med geometrien</documentation>
        </annotation>
      </enumeration>
      <enumeration value="mot">
        <annotation>
          <documentation>Retning mot geometrien</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RetningskodeOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
</schema>
