xsd_files/FagmodellVeg.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fmfel="https://skjema.atlas.vegvesen.no/r000/fagmodellfelles/0.1" xmlns:fmveg="https://skjema.atlas.vegvesen.no/r000/fagmodellveg/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/leveranse/0.1" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:svvli="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/0.1" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/fagmodellveg/0.1" version="0.1">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/fagmodellfelles/0.1" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/xsd_files/FagmodellFelles.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/leveranse/0.1" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/xsd_files/Leveranse.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/0.1" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/xsd_files/SVV_Landinfra.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="BaerelagNedre" substitutionGroup="fmveg:Overbygning" type="fmveg:BaerelagNedreType"/>
  <complexType name="BaerelagNedreType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="nedreNominelleSteinstørrelse" type="gml:CodeType"/>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="gml:CodeType"/>
          <element minOccurs="0" name="bæretype" type="gml:CodeType"/>
          <element minOccurs="0" name="merknad" type="string"/>
          <element minOccurs="0" name="tykkelse" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BaerelagNedrePropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:BaerelagNedre"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BaerelagOever" substitutionGroup="fmveg:Overbygning" type="fmveg:BaerelagOeverType"/>
  <complexType name="BaerelagOeverType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="bæretype" type="gml:CodeType"/>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="gml:CodeType"/>
          <element minOccurs="0" name="nedreNominelleSteinstørrelse" type="gml:CodeType"/>
          <element minOccurs="0" name="merknad" type="string"/>
          <element minOccurs="0" name="tykkelse" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BaerelagOeverPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:BaerelagOever"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Bindelag" substitutionGroup="fmveg:Overbygning" type="fmveg:BindelagType"/>
  <complexType name="BindelagType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="geometry" type="gml:SolidPropertyType"/>
          <element minOccurs="0" name="masseforbruk" type="double"/>
          <element minOccurs="0" name="massetype" type="gml:CodeType"/>
          <element minOccurs="0" name="tykkelse" type="double"/>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BindelagPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Bindelag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BreddeHellingGittVerdi" substitutionGroup="gml:AbstractObject" type="fmveg:BreddeHellingGittVerdiType">
    <annotation>
      <documentation>Det er angitt ved start og sluttverdi. Dette er bredden eller hellingen som skal brukes på flaten (del av hele overflaten), for eksempel kjørefelt, skulder, fortau, g/s-veg, fylling og skjæring. Både verdiStart og verdiSlutt trengs. Dessuten mellomverdier</documentation>
    </annotation>
  </element>
  <complexType name="BreddeHellingGittVerdiType">
    <sequence>
      <element name="breddeStart" type="double">
        <annotation>
          <documentation>bredde i startprofil</documentation>
        </annotation>
      </element>
      <element name="hellingStart" type="double">
        <annotation>
          <documentation>helling i startprofil</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="breddeMellom" type="fmveg:MellomprofilPropertyType">
        <annotation>
          <documentation>bredde i mellomprofil</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="hellingMellom" type="fmveg:MellomprofilPropertyType">
        <annotation>
          <documentation>helling i mellomprofil</documentation>
        </annotation>
      </element>
      <element name="breddeSlutt" type="double">
        <annotation>
          <documentation>flatebredde i sluttprofil</documentation>
        </annotation>
      </element>
      <element name="hellingSlutt" type="double">
        <annotation>
          <documentation>helling i sluttprofil</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BreddeHellingGittVerdiPropertyType">
    <sequence>
      <element ref="fmveg:BreddeHellingGittVerdi"/>
    </sequence>
  </complexType>
  <element abstract="true" name="DreneringElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:DreneringElementType"/>
  <complexType abstract="true" name="DreneringElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DreneringElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:DreneringElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FagmodellVeg" substitutionGroup="lv:Fagmodell" type="fmveg:FagmodellVegType"/>
  <complexType name="FagmodellVegType">
    <complexContent>
      <extension base="lv:FagmodellType">
        <sequence>
          <element minOccurs="0" name="linje" type="gml:LineStringPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="veg">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmfel:Veg"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FagmodellVegPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:FagmodellVeg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fartsdemper" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:FartsdemperType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">103</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FartsdemperType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="profil" type="gml:CodeType"/>
          <element minOccurs="0" name="material" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FartsdemperPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fartsdemper"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Ferist" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:FeristType">
    <annotation>
      <documentation>Konstruksjon med rist eller gitter som er innbygd i vegbanen, og som hindrer krøtter i å komme over. (jfr bokmålsordboka)</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">22</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="FeristType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>1104: Angir hvilken type vegobjektet er av</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1104</sc:taggedValue>
                <sc:taggedValue tag="SOSI_navn">NVDB_TYPE</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="passeringVedFerist" type="gml:CodeType">
            <annotation>
              <documentation>1737: Angir om det er mulighet for passering for fotgjengere utenom ferist</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1737</sc:taggedValue>
                <sc:taggedValue tag="SOSI_navn">NVDB_PASSERING_VED_FERIST</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="vinterforberedelse" type="gml:CodeType">
            <annotation>
              <documentation>4595: Angir hva som skal gjøres med ferist i forkant av vinter sesongen</documentation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">4595</sc:taggedValue>
                <sc:taggedValue tag="SOSI_navn">NVDB_VINTERFORBEREDELSE</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FeristPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Ferist"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fiberduk" substitutionGroup="fmveg:Overbygning" type="fmveg:FiberdukType"/>
  <complexType name="FiberdukType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="bruksklasse" type="gml:CodeType"/>
          <element minOccurs="0" name="plasering" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FiberdukPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fiberduk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Filterlag" substitutionGroup="fmveg:Overbygning" type="fmveg:FilterlagType"/>
  <complexType name="FilterlagType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="tykkelse" type="double"/>
          <element minOccurs="0" name="masseforbruk" type="double"/>
          <element minOccurs="0" name="merknad" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FilterlagPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Filterlag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Forsterkningslag" substitutionGroup="fmveg:Overbygning" type="fmveg:ForsterkningslagType"/>
  <complexType name="ForsterkningslagType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="forsterkningslag" type="gml:CodeType"/>
          <element minOccurs="0" name="steinstørrelse" type="double"/>
          <element minOccurs="0" name="tykkelse" type="double"/>
          <element minOccurs="0" name="merknad" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ForsterkningslagPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Forsterkningslag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fylling" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:FyllingType">
    <annotation>
      <documentation>Oppfylling på opprinnelig terreng begrenset av fyllingsskråning og vegens planum. (Datakatalog 2.29) - Vegobjekttype 930</documentation>
    </annotation>
  </element>
  <complexType name="FyllingType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="materiale" type="gml:CodeType"/>
          <element minOccurs="0" name="dekkemateriale" type="string"/>
          <element minOccurs="0" name="fyllingssaale" type="fmveg:FyllingssaaleType"/>
          <element minOccurs="0" name="tykkelseMaks" type="double"/>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="tilleggsinformasjon" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FyllingPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fylling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="FyllingOppTilPlanum" substitutionGroup="fmveg:Underbygning" type="fmveg:FyllingOppTilPlanumType"/>
  <complexType name="FyllingOppTilPlanumType">
    <complexContent>
      <extension base="fmveg:UnderbygningType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="materiale" type="gml:CodeType"/>
          <element minOccurs="0" name="dekkemateriale" type="string"/>
          <element minOccurs="0" name="fyllingssaale" type="fmveg:FyllingssaaleType"/>
          <element minOccurs="0" name="tykkelseMaks" type="double"/>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="tilleginformasjon" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FyllingOppTilPlanumPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:FyllingOppTilPlanum"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fyllinggsskraaning" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:FyllinggsskraaningType"/>
  <complexType name="FyllinggsskraaningType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence>
          <element minOccurs="0" name="helning" type="gml:CodeType"/>
          <element minOccurs="0" name="hoeydeMaksimal" type="double"/>
          <element minOccurs="0" name="breddeGjennomsnitt" type="double"/>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="tilleggsinformasjon" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FyllinggsskraaningPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Fyllinggsskraaning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="FyllingssaaleType">
    <annotation>
      <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap 254,.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
        <sc:taggedValue tag="SOSI_navn">NVDB_FYLLINGSSÅLE</sc:taggedValue>
      </appinfo>
    </annotation>
    <union memberTypes="fmveg:FyllingssaaleEnumerationType fmveg:FyllingssaaleOtherType"/>
  </simpleType>
  <simpleType name="FyllingssaaleEnumerationType">
    <annotation>
      <documentation>11532: Angir om det er etablert fyllingssåle i henhold til kravene gitt i HB N200 kap 254,.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
        <sc:taggedValue tag="NVDB_ID">11532</sc:taggedValue>
        <sc:taggedValue tag="SOSI_navn">NVDB_FYLLINGSSÅLE</sc:taggedValue>
      </appinfo>
    </annotation>
    <restriction base="string">
      <enumeration value="Ja">
        <annotation>
          <documentation>19595: Ja</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19595</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Nei">
        <annotation>
          <documentation>19596: Nei</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19596</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
      <enumeration value="Ukjent">
        <annotation>
          <documentation>19597: Ukjent</documentation>
          <appinfo>
            <sc:taggedValue tag="NVDB_ID">19597</sc:taggedValue>
          </appinfo>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="FyllingssaaleOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Hoeydehinder" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:HoeydehinderType">
    <annotation>
      <documentation>Fysisk hinder plassert over kjørebanen. Benyttes foran tunneler, underganger etc. for å hindre for høye kjøretøy å gjøre skade.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">610</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="HoeydehinderType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HoeydehinderPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Hoeydehinder"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Mellomprofil" substitutionGroup="gml:AbstractObject" type="fmveg:MellomprofilType"/>
  <complexType name="MellomprofilType">
    <sequence>
      <element name="profilnummer" type="integer">
        <annotation>
          <documentation>metrering fra starten på referanse-linja</documentation>
        </annotation>
      </element>
      <element name="verdi" type="integer">
        <annotation>
          <documentation>verdien på spesifisert profilnummer</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="MellomprofilPropertyType">
    <sequence>
      <element ref="fmveg:Mellomprofil"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Overbygning" substitutionGroup="fmveg:VegkroppElement" type="fmveg:OverbygningType"/>
  <complexType abstract="true" name="OverbygningType">
    <complexContent>
      <extension base="fmveg:VegkroppElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OverbygningPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Overbygning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PlanumElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:PlanumElementType"/>
  <complexType name="PlanumElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlanumElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:PlanumElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="PortDoer" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:PortDoerType">
    <annotation>
      <documentation>Åpning til/fra et rom/område. Kan åpnes og lukkes med dør eller port.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">13</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="PortDoerType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>Angir primær materialtype for vegobjektet</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="branndør" type="boolean">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">3509</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="uforming" type="gml:CodeType"/>
          <element minOccurs="0" name="bruksområde" type="gml:CodeType">
            <annotation>
              <documentation>Angir om det er innvendig belysning i leskur</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PortDoerPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:PortDoer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="RabattElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:RabattElementType"/>
  <complexType name="RabattElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="gml:CodeType"/>
          <element minOccurs="0" name="utforming" type="gml:CodeType"/>
          <element minOccurs="0" name="material" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RabattElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:RabattElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SideomraadeElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:SideomraadeElementType"/>
  <complexType name="SideomraadeElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SideomraadeElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:SideomraadeElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Skjaering" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:SkjaeringType"/>
  <complexType name="SkjaeringType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence>
          <element minOccurs="0" name="hoeydeMiddel" type="double"/>
          <element minOccurs="0" name="hoeydeMaksimal" type="double"/>
          <element minOccurs="0" name="bergskjaeringsID" type="string"/>
          <element minOccurs="0" name="type" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjaeringPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Skjaering"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Skjerm" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:SkjermType">
    <annotation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">3</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="SkjermType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="gml:CodeType"/>
          <element minOccurs="0" name="materialeSkjerm" type="gml:CodeType"/>
          <element minOccurs="0" name="materialeSøyler" type="gml:CodeType"/>
          <element minOccurs="0" name="fundamenteringPlassering" type="gml:CodeType"/>
          <element minOccurs="0" name="typeFundament" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkjermPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Skjerm"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Skraaning" substitutionGroup="fmveg:SideomraadeElement" type="fmveg:SkraaningType"/>
  <complexType name="SkraaningType">
    <complexContent>
      <extension base="fmveg:SideomraadeElementType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="tilleggsinformasjon" type="string"/>
          <element minOccurs="0" name="breddeGjSnitt" type="double"/>
          <element minOccurs="0" name="areal" type="integer"/>
          <element minOccurs="0" name="lengde" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SkraaningPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Skraaning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Slitelag" substitutionGroup="fmveg:Overbygning" type="fmveg:SlitelagType"/>
  <complexType name="SlitelagType">
    <complexContent>
      <extension base="fmveg:OverbygningType">
        <sequence>
          <element minOccurs="0" name="masseforbruk" type="double"/>
          <element minOccurs="0" name="areal" type="double"/>
          <element minOccurs="0" name="øvreNominelleSteinstørrelse" type="gml:CodeType"/>
          <element minOccurs="0" name="massetype" type="gml:CodeType"/>
          <element minOccurs="0" name="tykkelse" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SlitelagPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Slitelag"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Stroesandkasse" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:StroesandkasseType">
    <annotation>
      <documentation>Innretning laget for lagring av strøsand.</documentation>
      <appinfo>
        <sc:taggedValue tag="NVDB_ID">29</sc:taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="StroesandkasseType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StroesandkassePropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Stroesandkasse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Underbygning" substitutionGroup="fmveg:VegkroppElement" type="fmveg:UnderbygningType"/>
  <complexType name="UnderbygningType">
    <complexContent>
      <extension base="fmveg:VegkroppElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UnderbygningPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Underbygning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="UndergrunnForbedret" substitutionGroup="fmveg:Underbygning" type="fmveg:UndergrunnForbedretType"/>
  <complexType name="UndergrunnForbedretType">
    <complexContent>
      <extension base="fmveg:UnderbygningType">
        <sequence>
          <element minOccurs="0" name="merknad" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UndergrunnForbedretPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:UndergrunnForbedret"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegElement" substitutionGroup="svvli:VU053PhysicalElement" type="fmveg:VegElementType"/>
  <complexType name="VegElementType">
    <complexContent>
      <extension base="svvli:VU053PhysicalElementType">
        <sequence>
          <element minOccurs="0" name="vegElementID" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="VegElementSamling" substitutionGroup="gml:AbstractFeature" type="fmveg:VegElementSamlingType"/>
  <complexType abstract="true" name="VegElementSamlingType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="vegElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegElementSamlingPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegElementSamling"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegOgGateObjekter" substitutionGroup="fmveg:VegElementSamling" type="fmveg:VegOgGateObjekterType"/>
  <complexType name="VegOgGateObjekterType">
    <complexContent>
      <extension base="fmveg:VegElementSamlingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="vegOgGateObjekterElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegOgGateObjekterElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegOgGateObjekterPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegOgGateObjekter"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegOgGateObjekterElement" substitutionGroup="fmveg:VegElement" type="fmveg:VegOgGateObjekterElementType"/>
  <complexType name="VegOgGateObjekterElementType">
    <complexContent>
      <extension base="fmveg:VegElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegOgGateObjekterElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegOgGateObjekterElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vegbom" substitutionGroup="fmveg:VegOgGateObjekterElement" type="fmveg:VegbomType">
    <annotation>
      <documentation>Fysisk hinder for å kunne stenge en veg. F.eks. i forbindelse med rasfare, tunnel, høgfjell etc.</documentation>
    </annotation>
  </element>
  <complexType name="VegbomType">
    <complexContent>
      <extension base="fmveg:VegOgGateObjekterElementType">
        <sequence>
          <element minOccurs="0" name="bruksområde" type="gml:CodeType"/>
          <element minOccurs="0" name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="materiale" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegbomPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Vegbom"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vegkonstruksjon" substitutionGroup="fmveg:VegElementSamling" type="fmveg:VegkonstruksjonType"/>
  <complexType name="VegkonstruksjonType">
    <complexContent>
      <extension base="fmveg:VegElementSamlingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="vegkonstruksjon">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegkonstruksjonElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkonstruksjonPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Vegkonstruksjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="VegkonstruksjonElement" substitutionGroup="fmveg:VegElement" type="fmveg:VegkonstruksjonElementType"/>
  <complexType abstract="true" name="VegkonstruksjonElementType">
    <complexContent>
      <extension base="fmveg:VegElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkonstruksjonElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegkonstruksjonElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegkroppElement" substitutionGroup="fmveg:VegkonstruksjonElement" type="fmveg:VegkroppElementType"/>
  <complexType name="VegkroppElementType">
    <complexContent>
      <extension base="fmveg:VegkonstruksjonElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegkroppElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegkroppElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Vegomraade" substitutionGroup="fmveg:VegElementSamling" type="fmveg:VegomraadeType"/>
  <complexType name="VegomraadeType">
    <complexContent>
      <extension base="fmveg:VegElementSamlingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="vegomraadeElement">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:VegomraadeElement"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegomraadePropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:Vegomraade"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegomraadeElement" substitutionGroup="fmveg:VegElement" type="fmveg:VegomraadeElementType"/>
  <complexType name="VegomraadeElementType">
    <complexContent>
      <extension base="fmveg:VegElementType">
        <sequence>
          <element name="vegDesign" type="fmveg:VegomraadeRefPropertyType"/>
          <element name="ytterkant" type="fmveg:YtterkantPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VegomraadeElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmveg:VegomraadeElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VegomraadeRef" substitutionGroup="gml:AbstractObject" type="fmveg:VegomraadeRefType"/>
  <complexType name="VegomraadeRefType">
    <sequence>
      <element name="flatetype" type="gml:CodeType"/>
      <element name="flaterekkefølge" type="integer"/>
      <element name="vegside" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="VegomraadeRefPropertyType">
    <sequence>
      <element ref="fmveg:VegomraadeRef"/>
    </sequence>
  </complexType>
  <element name="Ytterkant" substitutionGroup="gml:AbstractObject" type="fmveg:YtterkantType"/>
  <complexType name="YtterkantType">
    <choice>
      <element name="gitteVerdier" type="fmveg:BreddeHellingGittVerdiPropertyType"/>
    </choice>
  </complexType>
  <complexType name="YtterkantPropertyType">
    <sequence>
      <element ref="fmveg:Ytterkant"/>
    </sequence>
  </complexType>
</schema>
