xsd_files/Fellesmoduler.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fm="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/leveranse/0.1" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/fellesmoduler/0.1" version="0.1">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/leveranse/0.1" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/xsd_files/Leveranse.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Aktoer" substitutionGroup="gml:AbstractFeature" type="fm:AktoerType"/>
  <complexType name="AktoerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="part" type="gml:CodeType"/>
          <element name="organisasjonnavn" type="string"/>
          <element maxOccurs="unbounded" name="personRolle" type="fm:PersonRollePropertyType"/>
          <element name="person" type="fm:PersonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AktoerPropertyType">
    <sequence minOccurs="0">
      <element ref="fm:Aktoer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AktoerRolleKlasse" substitutionGroup="gml:AbstractObject" type="fm:AktoerRolleKlasseType"/>
  <complexType name="AktoerRolleKlasseType">
    <choice>
      <element name="rolle" type="gml:CodeType"/>
      <element name="fagressus" type="gml:CodeType"/>
    </choice>
  </complexType>
  <complexType name="AktoerRolleKlassePropertyType">
    <sequence>
      <element ref="fm:AktoerRolleKlasse"/>
    </sequence>
  </complexType>
  <element name="Ansvar" substitutionGroup="gml:AbstractObject" type="fm:AnsvarType"/>
  <complexType name="AnsvarType">
    <choice>
      <element name="aktoer">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="fm:Aktoer"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="Appdragsgiver">
        <complexType>
          <complexContent>
            <extension base="gml:AbstractFeatureMemberType">
              <sequence minOccurs="0">
                <element ref="fm:Oppdragsgiver"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
    </choice>
  </complexType>
  <complexType name="AnsvarPropertyType">
    <sequence>
      <element ref="fm:Ansvar"/>
    </sequence>
  </complexType>
  <element name="FellesmodulElement" substitutionGroup="gml:AbstractFeature" type="fm:FellesmodulElementType"/>
  <complexType name="FellesmodulElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beskrivelse" type="string"/>
          <element name="navn" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FellesmodulElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fm:FellesmodulElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Koordinatsystem" substitutionGroup="gml:AbstractObject" type="fm:KoordinatsystemType"/>
  <complexType name="KoordinatsystemType">
    <sequence>
      <element name="syskode" type="gml:CodeType"/>
      <element minOccurs="0" name="datum" type="string"/>
      <element minOccurs="0" name="projeksjon" type="string"/>
    </sequence>
  </complexType>
  <complexType name="KoordinatsystemPropertyType">
    <sequence>
      <element ref="fm:Koordinatsystem"/>
    </sequence>
  </complexType>
  <element name="Oppdragsgiver" substitutionGroup="gml:AbstractFeature" type="fm:OppdragsgiverType"/>
  <complexType name="OppdragsgiverType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="rolle" type="gml:CodeType"/>
          <element name="organisasjonnavn" type="string"/>
          <element name="person" type="fm:PersonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OppdragsgiverPropertyType">
    <sequence minOccurs="0">
      <element ref="fm:Oppdragsgiver"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Part" substitutionGroup="gml:AbstractObject" type="fm:PartType"/>
  <complexType name="PartType">
    <choice>
      <element name="oppdragsgiver" type="gml:CodeType"/>
      <element name="raadgiver" type="gml:CodeType"/>
      <element name="entreprenoer" type="gml:CodeType"/>
      <element name="generisk" type="gml:CodeType"/>
    </choice>
  </complexType>
  <complexType name="PartPropertyType">
    <sequence>
      <element ref="fm:Part"/>
    </sequence>
  </complexType>
  <element name="Person" substitutionGroup="gml:AbstractObject" type="fm:PersonType"/>
  <complexType name="PersonType">
    <sequence>
      <element name="navn" type="string"/>
      <element name="tel" type="integer"/>
      <element name="e_post" type="integer"/>
    </sequence>
  </complexType>
  <complexType name="PersonPropertyType">
    <sequence>
      <element ref="fm:Person"/>
    </sequence>
  </complexType>
  <element name="PersonRolle" substitutionGroup="gml:AbstractObject" type="fm:PersonRolleType"/>
  <complexType name="PersonRolleType">
    <sequence>
      <element name="rolle" type="fm:AktoerRolleKlassePropertyType"/>
    </sequence>
  </complexType>
  <complexType name="PersonRollePropertyType">
    <sequence>
      <element ref="fm:PersonRolle"/>
    </sequence>
  </complexType>
  <element name="ProsjektOrganisasjon" substitutionGroup="lv:Vegprosjekt" type="fm:ProsjektOrganisasjonType"/>
  <complexType name="ProsjektOrganisasjonType">
    <complexContent>
      <extension base="lv:VegprosjektType">
        <sequence>
          <element name="prosjektId" type="string"/>
          <element name="prosjekttype" type="gml:CodeType"/>
          <element name="prosjektNavn" type="fm:ProsjektnavnStandardPropertyType"/>
          <element name="fasestatus" type="gml:CodeType"/>
          <element name="roller" type="string"/>
          <element name="oppdragsgiver">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fm:Oppdragsgiver"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="aktør">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fm:Aktoer"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="prosjektområde">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fm:Prosjektomraade"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="koordinatsystem" type="fm:KoordinatsystemPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProsjektOrganisasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="fm:ProsjektOrganisasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ProsjektnavnStandard" substitutionGroup="gml:AbstractObject" type="fm:ProsjektnavnStandardType"/>
  <complexType name="ProsjektnavnStandardType">
    <sequence>
      <element name="vegnummer" type="gml:CodeType"/>
      <element name="startSted" type="string"/>
      <element name="endSted" type="string"/>
    </sequence>
  </complexType>
  <complexType name="ProsjektnavnStandardPropertyType">
    <sequence>
      <element ref="fm:ProsjektnavnStandard"/>
    </sequence>
  </complexType>
  <element name="Prosjektomraade" substitutionGroup="gml:AbstractFeature" type="fm:ProsjektomraadeType"/>
  <complexType name="ProsjektomraadeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="prosjektomraade" type="gml:PolygonPropertyType"/>
          <element name="inngrepssone" type="gml:PolygonPropertyType"/>
          <element name="visualiseringssone" type="gml:PolygonPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProsjektomraadePropertyType">
    <sequence minOccurs="0">
      <element ref="fm:Prosjektomraade"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
