xsd_files/Leveranse.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fm="http://skjema.geonorge.no/fellesmoduler" xmlns:fmveg="http://skjema.geonorge.no/fagmodellveg" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lv="http://skjema.geonorge.no/leveranse/1.0" elementFormDefault="qualified" targetNamespace="http://skjema.geonorge.no/leveranse/1.0" version="0.1.2">
  <import namespace="http://skjema.geonorge.no/fagmodellveg" schemaLocation="https://github.com/Arkitektum/UML-modellering-VU053/blob/main/xsd_files/FagmodellVeg.xsd"/>
  <import namespace="http://skjema.geonorge.no/fellesmoduler" schemaLocation="https://github.com/Arkitektum/UML-modellering-VU053/blob/main/xsd_files/Fellesmoduler.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Arkivar" substitutionGroup="lv:Godkjenningsprosess" type="lv:ArkivarType"/>
  <complexType name="ArkivarType">
    <complexContent>
      <extension base="lv:GodkjenningsprosessType">
        <sequence>
          <element name="arkivsted" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ArkivarPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Arkivar"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Bestilertype" substitutionGroup="gml:AbstractFeature" type="lv:BestilertypeType"/>
  <complexType name="BestilertypeType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ansvar">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fm:Oppdragsgiver"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="bestilling" type="lv:BestillingstypePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BestilertypePropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Bestilertype"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Bestillingstype" substitutionGroup="gml:AbstractObject" type="lv:BestillingstypeType"/>
  <complexType name="BestillingstypeType">
    <sequence>
      <element name="kontraktsform" type="gml:CodeType"/>
      <element name="konkurransegrunnlagsmal" type="gml:CodeType"/>
      <element name="konkurranseform" type="gml:CodeType"/>
    </sequence>
  </complexType>
  <complexType name="BestillingstypePropertyType">
    <sequence>
      <element ref="lv:Bestillingstype"/>
    </sequence>
  </complexType>
  <element name="Dokumentasjon" substitutionGroup="gml:AbstractFeature" type="lv:DokumentasjonType"/>
  <complexType name="DokumentasjonType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="dokumentasjonstype" type="gml:CodeType"/>
          <element name="modeltype" type="gml:CodeType"/>
          <element name="grunnlasmodelltype" type="gml:CodeType"/>
          <element name="fagmodelltype" type="gml:CodeType"/>
          <element name="prosjekttype" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dokumentasjonAnsvar" type="lv:OverrekkelsePropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">lv:dokumentasjon</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DokumentasjonPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Dokumentasjon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EndretAv" substitutionGroup="lv:Godkjenningsprosess" type="lv:EndretAvType"/>
  <complexType name="EndretAvType">
    <complexContent>
      <extension base="lv:GodkjenningsprosessType">
        <sequence>
          <element name="endring" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EndretAvPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:EndretAv"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Fullfoeringsgrad" substitutionGroup="gml:AbstractFeature" type="lv:FullfoeringsgradType"/>
  <complexType name="FullfoeringsgradType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="fullfoeringsstatus" type="gml:CodeType"/>
          <element name="oppgave" type="gml:CodeType"/>
          <element name="vekting" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FullfoeringsgradPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Fullfoeringsgrad"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Godkjenningsprosess" substitutionGroup="gml:AbstractFeature" type="lv:GodkjenningsprosessType"/>
  <complexType name="GodkjenningsprosessType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ansvar" type="fm:AnsvarPropertyType"/>
          <element minOccurs="0" name="status" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GodkjenningsprosessPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Godkjenningsprosess"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GodkjentAv" substitutionGroup="lv:Godkjenningsprosess" type="lv:GodkjentAvType"/>
  <complexType name="GodkjentAvType">
    <complexContent>
      <extension base="lv:GodkjenningsprosessType">
        <sequence>
          <element name="godkjenningstype" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GodkjentAvPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:GodkjentAv"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kontrolloer" substitutionGroup="lv:Godkjenningsprosess" type="lv:KontrolloerType"/>
  <complexType name="KontrolloerType">
    <complexContent>
      <extension base="lv:GodkjenningsprosessType">
        <sequence>
          <element name="kontrolltype" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KontrolloerPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Kontrolloer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="LagretAv" substitutionGroup="lv:Godkjenningsprosess" type="lv:LagretAvType"/>
  <complexType name="LagretAvType">
    <complexContent>
      <extension base="lv:GodkjenningsprosessType">
        <sequence>
          <element name="lagringssted" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LagretAvPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:LagretAv"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Leverandør" substitutionGroup="gml:AbstractFeature" type="lv:LeverandørType"/>
  <complexType name="LeverandørType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="ansvar">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fm:Aktoer"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="leveranse" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LeverandørPropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Leverandør"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Leveranse" substitutionGroup="gml:AbstractFeature" type="lv:LeveranseType"/>
  <complexType name="LeveranseType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="kvalitet" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="fagmodell">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="fmveg:FagmodellVeg"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="dokumentasjon">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="lv:Dokumentasjon"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="fullføringsgrad">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="lv:Fullfoeringsgrad"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LeveransePropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Leveranse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Overrekkelse" substitutionGroup="gml:AbstractFeature" type="lv:OverrekkelseType"/>
  <complexType name="OverrekkelseType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="dato" type="dateTime"/>
          <element maxOccurs="unbounded" name="dokumentasjon" type="lv:DokumentasjonPropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">lv:dokumentasjonAnsvar</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="bestiler">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="lv:Bestilertype"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" name="leverandør">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="lv:Leverandør"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="fase">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="lv:Godkjenningsprosess"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OverrekkelsePropertyType">
    <sequence minOccurs="0">
      <element ref="lv:Overrekkelse"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
