xsd_files/localhost/V0.1/FagmodellOvervann.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fmov="https://skjema.atlas.vegvesen.no/r000/fagmodellovervann/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="https://skjema.atlas.vegvesen.no/r000/fagmodellovervann/0.1" version="0.1">
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="VannHaamdteringLukket" substitutionGroup="fmov:VannHaandteringElement" type="fmov:VannHaamdteringLukketType"/>
  <complexType name="VannHaamdteringLukketType">
    <complexContent>
      <extension base="fmov:VannHaandteringElementType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="varmekabler" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">1831</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element minOccurs="0" name="kabler" type="gml:CodeType">
            <annotation>
              <appinfo>
                <sc:taggedValue tag="NVDB_ID">9760</sc:taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannHaamdteringLukketPropertyType">
    <sequence minOccurs="0">
      <element ref="fmov:VannHaamdteringLukket"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="VannHaandteringElement" substitutionGroup="gml:AbstractFeature" type="fmov:VannHaandteringElementType"/>
  <complexType abstract="true" name="VannHaandteringElementType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="dybde" type="double"/>
          <element minOccurs="0" name="lengde" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannHaandteringElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmov:VannHaandteringElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="VannHaanteringAapen" substitutionGroup="gml:AbstractFeature" type="fmov:VannHaanteringAapenType"/>
  <complexType name="VannHaanteringAapenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="nedreFundament" type="gml:CodeType">
            <annotation>
              <documentation>V770 s.97</documentation>
            </annotation>
          </element>
          <element name="oevrefundament" type="gml:CodeType">
            <annotation>
              <documentation>V770 s.97</documentation>
            </annotation>
          </element>
          <element name="sidefylling" type="gml:CodeType"/>
          <element name="beskyttelseslag" type="gml:CodeType"/>
          <element name="typeGroeft" type="gml:CodeType"/>
          <element minOccurs="0" name="gjenfylling" type="gml:CodeType"/>
          <element name="overbygning" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VannHaanteringAapenPropertyType">
    <sequence minOccurs="0">
      <element ref="fmov:VannHaanteringAapen"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
