leveranse2022/xsd/SVV_PolyfaceMesh.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:svvpm="https://skjema.atlas.vegvesen.no/r000/svvpolyfacemesh/1.0" targetNamespace="https://skjema.atlas.vegvesen.no/r000/svvpolyfacemesh/1.0" elementFormDefault="qualified" version="1.0">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="IndexedPoint" type="svvpm:IndexedPointType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="IndexedPointType">
		<sequence>
			<element name="index" type="integer"/>
			<element name="coordinates" type="gml:doubleList"/>
		</sequence>
	</complexType>
	<complexType name="IndexedPointPropertyType">
		<sequence>
			<element ref="svvpm:IndexedPoint"/>
		</sequence>
	</complexType>
	<element name="IndexedPointList" type="svvpm:IndexedPointListType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="IndexedPointListType">
		<sequence>
			<element name="indexedPoint" type="svvpm:IndexedPointPropertyType" minOccurs="3" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="IndexedPointListPropertyType">
		<sequence>
			<element ref="svvpm:IndexedPointList"/>
		</sequence>
	</complexType>
	<element name="PolyfaceMesh" type="svvpm:PolyfaceMeshType" substitutionGroup="gml:AbstractGeometry"/>
	<complexType name="PolyfaceMeshType">
		<complexContent>
			<extension base="gml:AbstractGeometryType">
				<sequence>
					<element name="simpleIndexedPolygonList" type="svvpm:SimpleIndexedPolygonListPropertyType"/>
					<element name="indexedPointList" type="svvpm:IndexedPointListPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PolyfaceMeshPropertyType">
		<sequence>
			<element ref="svvpm:PolyfaceMesh"/>
		</sequence>
	</complexType>
	<element name="SimpleIndexedPolygon" type="svvpm:SimpleIndexedPolygonType" substitutionGroup="gml:AbstractSurface"/>
	<complexType name="SimpleIndexedPolygonType">
		<complexContent>
			<extension base="gml:AbstractSurfaceType">
				<sequence>
					<element name="pointIndex" type="gml:integerList"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SimpleIndexedPolygonPropertyType">
		<sequence>
			<element ref="svvpm:SimpleIndexedPolygon"/>
		</sequence>
	</complexType>
	<element name="SimpleIndexedPolygonList" type="svvpm:SimpleIndexedPolygonListType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="SimpleIndexedPolygonListType">
		<sequence>
			<element name="simpleIndexedPolygon" type="svvpm:SimpleIndexedPolygonPropertyType" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	<complexType name="SimpleIndexedPolygonListPropertyType">
		<sequence>
			<element ref="svvpm:SimpleIndexedPolygonList"/>
		</sequence>
	</complexType>
</schema>
