InternTesting/xsd_files/FagmodellOvervann.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:fmov="https://skjema.atlas.vegvesen.no/r000/fagmodellovervann/1.0" 
xmlns:fmva="https://skjema.atlas.vegvesen.no/r000/fagmodellvannogavloep/1.0" 
xmlns:gml="http://www.opengis.net/gml/3.2" 
xmlns:lv="https://skjema.atlas.vegvesen.no/r000/leveranse/1.0" 
xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" 
xmlns:svvli="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" 
targetNamespace="https://skjema.atlas.vegvesen.no/r000/fagmodellovervann/1.0" elementFormDefault="qualified" version="0.1">

	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://shapechange.net/resources/schema/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="https://skjema.atlas.vegvesen.no/r000/fagmodellvannogavloep/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/leveranse2022/xsd/FagmodellVannOgAvloep.xsd"/>
	<import namespace="https://skjema.atlas.vegvesen.no/r000/leveranse/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/leveranse2022/xsd/Leveranse.xsd"/>
	<import namespace="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/leveranse2022/xsd/SVV_Landinfra.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="AapenElement" type="fmov:AapenElementType" substitutionGroup="fmov:VannHaandteringElement"/>
	<complexType name="AapenElementType">
		<complexContent>
			<extension base="fmov:VannHaandteringElementType">
				<sequence>
					<element name="nedreFundament" type="gml:CodeType">
						<annotation>
							<documentation>V770 s.97</documentation>
						</annotation>
					</element>
					<element name="oevrefundament" type="gml:CodeType">
						<annotation>
							<documentation>V770 s.97</documentation>
						</annotation>
					</element>
					<element name="sidefylling" type="gml:CodeType"/>
					<element name="beskyttelseslag" type="gml:CodeType"/>
					<element name="typeGroeft" type="gml:CodeType"/>
					<element name="gjenfylling" type="gml:CodeType" minOccurs="0"/>
					<element name="overbygning" type="gml:CodeType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AapenElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:AapenElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FagmodellOvervann" type="fmov:FagmodellOvervannType" substitutionGroup="lv:Fagmodell"/>
	<complexType name="FagmodellOvervannType">
		<complexContent>
			<extension base="lv:FagmodellType">
				<sequence>
					<element name="overvanElementSamling" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmov:OvervannElementSamling"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="overvannElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmov:OvervannElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FagmodellOvervannPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:FagmodellOvervann"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Groeft" type="fmov:GroeftType" substitutionGroup="fmov:AapenElement"/>
	<complexType name="GroeftType">
		<complexContent>
			<extension base="fmov:AapenElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GroeftPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:Groeft"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Grunnforsterkning" type="fmov:GrunnforsterkningType" substitutionGroup="fmov:AapenElement"/>
	<complexType name="GrunnforsterkningType">
		<complexContent>
			<extension base="fmov:AapenElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GrunnforsterkningPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:Grunnforsterkning"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="LukketElement" type="fmov:LukketElementType" substitutionGroup="fmov:VannHaandteringElement"/>
	<complexType name="LukketElementType">
		<complexContent>
			<extension base="fmov:VannHaandteringElementType">
				<sequence>
					<element name="type" type="gml:CodeType"/>
					<element name="varmekabler" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:taggedValue tag="NVDB_ID">1831</sc:taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="kabler" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<sc:taggedValue tag="NVDB_ID">9760</sc:taggedValue>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LukketElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:LukketElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<!-- 
  <element name="NokoVannElement" substitutionGroup="fmov:OvervannElement" type="fmov:NokoVannElementType"/>
  <complexType name="NokoVannElementType">
    <complexContent>
      <extension base="fmov:OvervannElementType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NokoVannElementPropertyType">
    <sequence minOccurs="0">
      <element ref="fmov:NokoVannElement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType> -->
	<element name="OvervannElement" type="fmov:OvervannElementType" substitutionGroup="svvli:VU053Feature"/>
	<complexType name="OvervannElementType">
		<complexContent>
			<extension base="svvli:VU053FeatureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OvervannElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:OvervannElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="OvervannElementSamling" type="fmov:OvervannElementSamlingType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="OvervannElementSamlingType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="VA-ledning_overvann" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmva:Overvannsledning"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OvervannElementSamlingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:OvervannElementSamling"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Overvannsrenne" type="fmov:OvervannsrenneType" substitutionGroup="fmov:AapenElement"/>
	<complexType name="OvervannsrenneType">
		<complexContent>
			<extension base="fmov:AapenElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OvervannsrennePropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:Overvannsrenne"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RensetiltakElement" type="fmov:RensetiltakElementType" substitutionGroup="fmov:VannHaandteringElement"/>
	<complexType name="RensetiltakElementType">
		<complexContent>
			<extension base="fmov:VannHaandteringElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RensetiltakElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:RensetiltakElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VannHaandtering" type="fmov:VannHaandteringType" substitutionGroup="fmov:OvervannElementSamling"/>
	<complexType name="VannHaandteringType">
		<complexContent>
			<extension base="fmov:OvervannElementSamlingType">
				<sequence>
					<element name="vannHaandteringElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmov:VannHaandteringElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VannHaandteringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:VannHaandtering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="VannHaandteringElement" type="fmov:VannHaandteringElementType" abstract="true" substitutionGroup="fmov:OvervannElement"/>
	<complexType name="VannHaandteringElementType" abstract="true">
		<complexContent>
			<extension base="fmov:OvervannElementType">
				<sequence>
					<element name="dybde" type="double"/>
					<element name="lengde" type="double" minOccurs="0"/>
					<element name="vannhåndteringRetning" type="gml:CodeType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VannHaandteringElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:VannHaandteringElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="erosjonssikring" type="fmov:erosjonssikringType" substitutionGroup="fmov:AapenElement"/>
	<complexType name="erosjonssikringType">
		<complexContent>
			<extension base="fmov:AapenElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="erosjonssikringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:erosjonssikring"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="regnbed" type="fmov:regnbedType" substitutionGroup="fmov:AapenElement"/>
	<complexType name="regnbedType">
		<complexContent>
			<extension base="fmov:AapenElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="regnbedPropertyType">
		<sequence minOccurs="0">
			<element ref="fmov:regnbed"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
