InternTesting/xsd_files/2023/v1_2_0/FagmodellGeoteknikk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:fmget="https://skjema.atlas.vegvesen.no/r000/fagmodellgeoteknikk/0.1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lv="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" xmlns:svvli="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" targetNamespace="https://skjema.atlas.vegvesen.no/r000/fagmodellgeoteknikk/0.1" elementFormDefault="qualified" version="0.1">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvlandinfra/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_2_0/SVV_Landinfra.xsd"/>
  <import namespace="https://skjema.atlas.vegvesen.no/r000/svvleveranse/1.0" schemaLocation="https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/InternTesting/xsd_files/2023/v1_2_0/SVV_Leveranse.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="Avstiving" type="fmget:AvstivingType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="AvstivingType">
		<choice>
			<element name="forankringsstag">
				<complexType>
					<complexContent>
						<extension base="gml:AbstractFeatureMemberType">
							<sequence minOccurs="0">
								<element ref="fmget:Forankringsstag"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="innvendigAvstiving">
				<complexType>
					<complexContent>
						<extension base="gml:AbstractFeatureMemberType">
							<sequence minOccurs="0">
								<element ref="fmget:InnvendigAvstiving"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</choice>
	</complexType>
	<complexType name="AvstivingPropertyType">
		<sequence>
			<element ref="fmget:Avstiving"/>
		</sequence>
	</complexType>
	<element name="BergsikringBergskjaering" type="fmget:BergsikringBergskjaeringType" substitutionGroup="fmget:Bergskjaering">
		<annotation>
			<documentation>Område/felt i tunnel eller bergskjæring i dagen som er sikra med nett, bolter etc.</documentation>
		</annotation>
	</element>
	<complexType name="BergsikringBergskjaeringType">
		<complexContent>
			<extension base="fmget:BergskjaeringType">
				<sequence>
					<element name="areal" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir areal av sikringsfeltet.</documentation>
						</annotation>
					</element>
					<element name="høydeOverVeg" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir største høyde til overkant av bergsikring.</documentation>
						</annotation>
					</element>
					<element name="etableringsår" type="integer" minOccurs="0">
						<annotation>
							<documentation>Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
						</annotation>
					</element>
					<element name="adkomst" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_AdkomstBergsikring.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="plassering" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir sikringsfeltets plassering.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_PlasseringBergsikring.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="lengde" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir total lengde av sikringsfelt.</documentation>
						</annotation>
					</element>
					<element name="prosjektreferanse" type="string" minOccurs="0">
						<annotation>
							<documentation>Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
						</annotation>
					</element>
					<element name="prosjektInternObjektID" type="string" minOccurs="0">
						<annotation>
							<documentation>Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
						</annotation>
					</element>
					<element name="tilleggsinformasjon" type="string" minOccurs="0">
						<annotation>
							<documentation>Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
						</annotation>
					</element>
					<element name="fanggroeft" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmget:Fanggroeft"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="sikring" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmget:Sikring"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BergsikringBergskjaeringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:BergsikringBergskjaering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BergsikringTunnel" type="fmget:BergsikringTunnelType" substitutionGroup="fmget:TiltakITunnel">
		<annotation>
			<documentation>Område/felt i tunnel eller bergskjæring i dagen som er sikra med nett, bolter etc.</documentation>
		</annotation>
	</element>
	<complexType name="BergsikringTunnelType">
		<complexContent>
			<extension base="fmget:TiltakITunnelType">
				<sequence>
					<element name="areal" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir areal av sikringsfeltet.</documentation>
						</annotation>
					</element>
					<element name="etableringsår" type="integer" minOccurs="0">
						<annotation>
							<documentation>Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
						</annotation>
					</element>
					<element name="adkomst" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_AdkomstBergsikring.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="plassering" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir sikringsfeltets plassering.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_PlasseringBergsikring.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="høydeOverVeg" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir største høyde til overkant av bergsikring.</documentation>
						</annotation>
					</element>
					<element name="lengde" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir total lengde av sikringsfelt.</documentation>
						</annotation>
					</element>
					<element name="prosjektreferanse" type="string" minOccurs="0">
						<annotation>
							<documentation>Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
						</annotation>
					</element>
					<element name="prosjektInternObjektID" type="string" minOccurs="0">
						<annotation>
							<documentation>Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
						</annotation>
					</element>
					<element name="tilleggsinformasjon" type="string" minOccurs="0">
						<annotation>
							<documentation>Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
						</annotation>
					</element>
					<element name="sikring" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmget:Sikring"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BergsikringTunnelPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:BergsikringTunnel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Bergskjaering" type="fmget:BergskjaeringType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="BergskjaeringType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BergskjaeringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Bergskjaering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BerguttakBergskjaering" type="fmget:BerguttakBergskjaeringType" substitutionGroup="fmget:Bergskjaering"/>
	<complexType name="BerguttakBergskjaeringType">
		<complexContent>
			<extension base="fmget:BergskjaeringType">
				<sequence>
					<element name="metode" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeBerguttak.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BerguttakBergskjaeringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:BerguttakBergskjaering"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BerguttakTunnel" type="fmget:BerguttakTunnelType" substitutionGroup="fmget:TiltakITunnel"/>
	<complexType name="BerguttakTunnelType">
		<complexContent>
			<extension base="fmget:TiltakITunnelType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BerguttakTunnelPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:BerguttakTunnel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Bjelkestengsler" type="fmget:BjelkestengslerType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="BjelkestengslerType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence>
					<element name="material" type="string" minOccurs="0"/>
					<element name="type" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BjelkestengslerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Bjelkestengsler"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Bolter" type="fmget:BolterType" substitutionGroup="fmget:Sikring"/>
	<complexType name="BolterType">
		<complexContent>
			<extension base="fmget:SikringType">
				<sequence>
					<element name="antall" type="integer" minOccurs="0"/>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeBolt.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="diameter" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BolterPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Bolter"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BoredePeler" type="fmget:BoredePelerType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="BoredePelerType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="boremetode" type="string" minOccurs="0"/>
					<element name="borkrone" type="string" minOccurs="0"/>
					<element name="innboringIBerg" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BoredePelerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:BoredePeler"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Erosjonssikring" type="fmget:ErosjonssikringType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="ErosjonssikringType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence>
					<element name="bruksområder" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_ErosjonssikringBruksomraade.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_ErosjonssikringsType.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="vannoverdekning" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_Vannoverdekning.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ErosjonssikringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Erosjonssikring"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Etterinjeksjon" type="fmget:EtterinjeksjonType" substitutionGroup="fmget:Injeksjon"/>
	<complexType name="EtterinjeksjonType">
		<complexContent>
			<extension base="fmget:InjeksjonType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EtterinjeksjonPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Etterinjeksjon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="FagmodellGeoteknikk" type="fmget:FagmodellGeoteknikkType" substitutionGroup="lv:Fagmodell"/>
	<complexType name="FagmodellGeoteknikkType">
		<complexContent>
			<extension base="lv:FagmodellType">
				<sequence>
					<element name="geoteknikkElementSamling" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmget:GeoteknikkElementSamling"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="geoteknikkElementElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmget:GeoteknikkElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FagmodellGeoteknikkPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:FagmodellGeoteknikk"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Fanggroeft" type="fmget:FanggroeftType" abstract="true" substitutionGroup="svvli:VU053PhysicalElement"/>
	<complexType name="FanggroeftType" abstract="true">
		<complexContent>
			<extension base="svvli:VU053PhysicalElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FanggroeftPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Fanggroeft"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Forankringsstag" type="fmget:ForankringsstagType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="ForankringsstagType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="stagtype" type="integer" minOccurs="0"/>
					<element name="typeBorkrone" type="integer" minOccurs="0"/>
					<element name="diameterBorkrone" type="integer" minOccurs="0"/>
					<element name="forankringslengde" type="integer" minOccurs="0"/>
					<element name="injeksjonslengde" type="integer" minOccurs="0"/>
					<element name="frilengde" type="integer" minOccurs="0"/>
					<element name="dimensjonerendeLevetid" type="integer" minOccurs="0"/>
					<element name="dimensjonerendeKapasitet" type="integer" minOccurs="0"/>
					<element name="prøvelast" type="integer" minOccurs="0"/>
					<element name="låselast" type="integer" minOccurs="0"/>
					<element name="avstiving" type="fmget:AvstivingPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ForankringsstagPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Forankringsstag"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Forinjeksjon" type="fmget:ForinjeksjonType" substitutionGroup="fmget:Injeksjon"/>
	<complexType name="ForinjeksjonType">
		<complexContent>
			<extension base="fmget:InjeksjonType">
				<sequence>
					<element name="type" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ForinjeksjonPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Forinjeksjon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Gabioner" type="fmget:GabionerType" substitutionGroup="fmget:Stoettekonstruksjoner"/>
	<complexType name="GabionerType">
		<complexContent>
			<extension base="fmget:StoettekonstruksjonerType">
				<sequence>
					<element name="bredde" type="double" minOccurs="0"/>
					<element name="maskevidde" type="double" minOccurs="0"/>
					<element name="steinstoerrelse" type="string" minOccurs="0"/>
					<element name="helning" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GabionerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Gabioner"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeoteknikkElement" type="fmget:GeoteknikkElementType" substitutionGroup="svvli:VU053PhysicalElement"/>
	<complexType name="GeoteknikkElementType">
		<complexContent>
			<extension base="svvli:VU053PhysicalElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeoteknikkElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:GeoteknikkElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeoteknikkElementSamling" type="fmget:GeoteknikkElementSamlingType" abstract="true" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="GeoteknikkElementSamlingType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeoteknikkElementSamlingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:GeoteknikkElementSamling"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GraveplanerForByggegrop" type="fmget:GraveplanerForByggegropType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="GraveplanerForByggegropType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence>
					<element name="skraaningshelning" type="double" minOccurs="0"/>
					<element name="nivaaforplanum" type="integer" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GraveplanerForByggegropPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:GraveplanerForByggegrop"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Grunnforsterkning" type="fmget:GrunnforsterkningType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="GrunnforsterkningType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_GrunnforsterkningType.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="mønster" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_MoensterType.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="innblandingssystem" type="string" minOccurs="0"/>
					<element name="blandingsforhold" type="string" minOccurs="0"/>
					<element name="diameter" type="double" minOccurs="0"/>
					<element name="helning" type="double" minOccurs="0"/>
					<element name="lengde" type="double" minOccurs="0"/>
					<element name="forboringslengde" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GrunnforsterkningPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Grunnforsterkning"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Injeksjon" type="fmget:InjeksjonType" substitutionGroup="fmget:TiltakITunnel"/>
	<complexType name="InjeksjonType">
		<complexContent>
			<extension base="fmget:TiltakITunnelType">
				<sequence>
					<element name="diameter" type="double" minOccurs="0"/>
					<element name="dybde" type="double" minOccurs="0"/>
					<element name="injeksjonsmiddel" type="string" minOccurs="0"/>
					<element name="trykk" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InjeksjonPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Injeksjon"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Innstallasjonsmetode" type="fmget:InnstallasjonsmetodeType" substitutionGroup="gml:AbstractObject"/>
	<complexType name="InnstallasjonsmetodeType">
		<choice>
			<element name="rammedePeler">
				<complexType>
					<complexContent>
						<extension base="gml:AbstractFeatureMemberType">
							<sequence minOccurs="0">
								<element ref="fmget:RammedePeler"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="boredePeler">
				<complexType>
					<complexContent>
						<extension base="gml:AbstractFeatureMemberType">
							<sequence minOccurs="0">
								<element ref="fmget:BoredePeler"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
		</choice>
	</complexType>
	<complexType name="InnstallasjonsmetodePropertyType">
		<sequence>
			<element ref="fmget:Innstallasjonsmetode"/>
		</sequence>
	</complexType>
	<element name="InnvendigAvstiving" type="fmget:InnvendigAvstivingType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="InnvendigAvstivingType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="profiltype" type="string" minOccurs="0"/>
					<element name="dimensjon" type="double" minOccurs="0"/>
					<element name="stålkvalitet" type="string" minOccurs="0"/>
					<element name="lengde" type="double" minOccurs="0"/>
					<element name="dimensjonerendeLevetid" type="integer" minOccurs="0"/>
					<element name="avstiving" type="fmget:AvstivingPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InnvendigAvstivingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:InnvendigAvstiving"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="JordArmertmur" type="fmget:JordArmertmurType" substitutionGroup="fmget:Stoettekonstruksjoner"/>
	<complexType name="JordArmertmurType">
		<complexContent>
			<extension base="fmget:StoettekonstruksjonerType">
				<sequence>
					<element name="materialtypejordarmering" type="string" minOccurs="0"/>
					<element name="forankringslengde" type="double" minOccurs="0"/>
					<element name="forblending" type="string" minOccurs="0"/>
					<element name="fronthelning" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="JordArmertmurPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:JordArmertmur"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Jordnagling" type="fmget:JordnaglingType" substitutionGroup="fmget:Stoettekonstruksjoner"/>
	<complexType name="JordnaglingType">
		<complexContent>
			<extension base="fmget:StoettekonstruksjonerType">
				<sequence>
					<element name="type" type="string" minOccurs="0"/>
					<element name="dimensjon" type="double" minOccurs="0"/>
					<element name="forankringslengde" type="double" minOccurs="0"/>
					<element name="installasjonsvinkel" type="double" minOccurs="0"/>
					<element name="horisontalavstand" type="double" minOccurs="0"/>
					<element name="forankringskapasitet" type="string" minOccurs="0"/>
					<element name="forblending" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="JordnaglingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Jordnagling"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Lettfyllinger" type="fmget:LettfyllingerType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="LettfyllingerType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence>
					<element name="volum" type="double" minOccurs="0"/>
					<element name="type" type="string" minOccurs="0"/>
					<element name="tyngdetetthet" type="string" minOccurs="0"/>
					<element name="ISOFraksjon" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="LettfyllingerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Lettfyllinger"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Masseutskifting" type="fmget:MasseutskiftingType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="MasseutskiftingType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_TypeNyeMasser.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="maksimalUtskiftingsdybde" type="double" minOccurs="0"/>
					<element name="plasering" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MasseutskiftingPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Masseutskifting"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Nett" type="fmget:NettType" substitutionGroup="fmget:Sikring"/>
	<complexType name="NettType">
		<complexContent>
			<extension base="fmget:SikringType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeNett.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="wiredimensjon" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NettPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Nett"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Peler" type="fmget:PelerType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="PelerType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_PelerType.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="installasjonsmetode" type="fmget:InnstallasjonsmetodePropertyType" minOccurs="0"/>
					<element name="dimensjon" type="integer" minOccurs="0"/>
					<element name="lengde" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PelerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Peler"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="PermanentSpunt" type="fmget:PermanentSpuntType" substitutionGroup="fmget:Stoettekonstruksjoner"/>
	<complexType name="PermanentSpuntType">
		<complexContent>
			<extension base="fmget:StoettekonstruksjonerType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="PermanentSpuntPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:PermanentSpunt"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RammedePeler" type="fmget:RammedePelerType" substitutionGroup="gml:AbstractFeature"/>
	<complexType name="RammedePelerType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="rammeenergi" type="integer" minOccurs="0"/>
					<element name="stoppkriterium" type="integer" minOccurs="0"/>
					<element name="innmeislingIBerg" type="integer" minOccurs="0"/>
					<element name="etteramming" type="integer" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RammedePelerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:RammedePeler"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Roervegger" type="fmget:RoerveggerType" substitutionGroup="fmget:Stoettekonstruksjoner"/>
	<complexType name="RoerveggerType">
		<complexContent>
			<extension base="fmget:StoettekonstruksjonerType">
				<sequence>
					<element name="type" type="string" minOccurs="0"/>
					<element name="dimensjon" type="double" minOccurs="0"/>
					<element name="lengde" type="double" minOccurs="0"/>
					<element name="dimensjonerendeLevetid" type="integer" minOccurs="0"/>
					<element name="avstiving" type="fmget:AvstivingPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RoerveggerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Roervegger"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Sikring" type="fmget:SikringType" abstract="true" substitutionGroup="svvli:VU053PhysicalElement"/>
	<complexType name="SikringType" abstract="true">
		<complexContent>
			<extension base="svvli:VU053PhysicalElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SikringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Sikring"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SkredIBrattTerreng" type="fmget:SkredIBrattTerrengType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="SkredIBrattTerrengType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkredIBrattTerrengPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:SkredIBrattTerreng"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SkredVarslingOvervaakning" type="fmget:SkredVarslingOvervaakningType" substitutionGroup="fmget:Skredsikring">
		<annotation>
			<documentation>Område som blir overvåket med hensyn på skred.</documentation>
		</annotation>
	</element>
	<complexType name="SkredVarslingOvervaakningType">
		<complexContent>
			<extension base="fmget:SkredsikringType">
				<sequence>
					<element name="typeNaturfare" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir hvilken type naturfare overvåkning/varsling gjelder for.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeNaturfare.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="overvåkningstype" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir type overvåkning.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_Overvaakningstype.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="varslingPåVeg" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir type varsling som er satt opp synlig for trafikanter.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_VarslingPaaVeg.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="prosjektInternObjektID" type="string" minOccurs="0">
						<annotation>
							<documentation>Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
						</annotation>
					</element>
					<element name="prosjektreferanse" type="string" minOccurs="0">
						<annotation>
							<documentation>Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
						</annotation>
					</element>
					<element name="tilleggsinformasjon" type="string" minOccurs="0">
						<annotation>
							<documentation>Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkredVarslingOvervaakningPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:SkredVarslingOvervaakning"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SkreddsikringFanggroeft" type="fmget:SkreddsikringFanggroeftType" substitutionGroup="fmget:Skredsikring"/>
	<complexType name="SkreddsikringFanggroeftType">
		<complexContent>
			<extension base="fmget:SkredsikringType">
				<sequence>
					<element name="fanggroeft" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmget:Fanggroeft"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkreddsikringFanggroeftPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:SkreddsikringFanggroeft"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SkredmagasinFanggroeft" type="fmget:SkredmagasinFanggroeftType" substitutionGroup="fmget:Fanggroeft"/>
	<complexType name="SkredmagasinFanggroeftType">
		<complexContent>
			<extension base="fmget:FanggroeftType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir hvilken type magasin det er tale om.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeSkredmagasinFanggroeft.gml&#13;
</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="lengde" type="double" minOccurs="0">
						<annotation>
							<documentation>Lengde av magasinet langs vegretningen.</documentation>
						</annotation>
					</element>
					<element name="bredde" type="double" minOccurs="0">
						<annotation>
							<documentation>Gjennomsnittlig bredde av magasinet på tvers av vegretningen.</documentation>
						</annotation>
					</element>
					<element name="magasinvolum" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir hvor stort volum med masser magasinet kan ta opp.</documentation>
						</annotation>
					</element>
					<element name="adkomst" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_AdkomstSkredmagasinFanggroeft.gml&#13;
</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="etableringsår" type="integer" minOccurs="0">
						<annotation>
							<documentation>Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
						</annotation>
					</element>
					<element name="dybdeUnderVegkant" type="double" minOccurs="0">
						<annotation>
							<documentation>Høydeforskjell mellom nærmeste vegkant og bunn av magasin.</documentation>
						</annotation>
					</element>
					<element name="prosjektInternObjektID" type="string" minOccurs="0">
						<annotation>
							<documentation>Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
						</annotation>
					</element>
					<element name="prosjektreferanse" type="string" minOccurs="0">
						<annotation>
							<documentation>Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
						</annotation>
					</element>
					<element name="tilleggsinformasjon" type="string" minOccurs="0">
						<annotation>
							<documentation>Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkredmagasinFanggroeftPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:SkredmagasinFanggroeft"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Skredoverbygg" type="fmget:SkredoverbyggType" substitutionGroup="fmget:Skredsikring">
		<annotation>
			<documentation>Konstruksjon som omslutter vegen for å beskytte den mot skred. Tak og vegg inn mot skråning er massive. Vegg ut fra skråning er åpen eller ev. tettet med lettere materiale. Se også utgått Håndbok 100.</documentation>
		</annotation>
	</element>
	<complexType name="SkredoverbyggType">
		<complexContent>
			<extension base="fmget:SkredsikringType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir hvilken type skredoverbygg det er tale om.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeSkredoverbygg.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="lengde" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir lengde av vegobjektet.</documentation>
						</annotation>
					</element>
					<element name="etableringsår" type="integer" minOccurs="0">
						<annotation>
							<documentation>Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
						</annotation>
					</element>
					<element name="brutusID" type="string" minOccurs="0">
						<annotation>
							<documentation>Gir referanse til brudatabanken.</documentation>
						</annotation>
					</element>
					<element name="merknad" type="string" minOccurs="0">
						<annotation>
							<documentation>Permanent merknad til aktuell forekomst.</documentation>
						</annotation>
					</element>
					<element name="prosjektreferanse" type="string" minOccurs="0">
						<annotation>
							<documentation>Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
						</annotation>
					</element>
					<element name="prosjektInternObjektID" type="string" minOccurs="0">
						<annotation>
							<documentation>Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
						</annotation>
					</element>
					<element name="tunnelnummer" type="string" minOccurs="0">
						<annotation>
							<documentation>Gir unikt nummer for tunnel/skredoverbygg, benyttes av Plania.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkredoverbyggPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Skredoverbygg"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Skredsikring" type="fmget:SkredsikringType" substitutionGroup="fmget:SkredIBrattTerreng"/>
	<complexType name="SkredsikringType">
		<complexContent>
			<extension base="fmget:SkredIBrattTerrengType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkredsikringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Skredsikring"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Skredutloesningstiltak" type="fmget:SkredutloesningstiltakType" substitutionGroup="fmget:Skredsikring">
		<annotation>
			<documentation>Skredutsatt terreng som er sikret av en eller flere installasjoner i løsneområdet der skred løses ut kunstig. Hver enkelt konstruksjon kartlegges som skredteknisk objekt.</documentation>
		</annotation>
	</element>
	<complexType name="SkredutloesningstiltakType">
		<complexContent>
			<extension base="fmget:SkredsikringType">
				<sequence>
					<element name="antallEnheter" type="integer" minOccurs="0">
						<annotation>
							<documentation>Antall enheter for skredutløsning.</documentation>
						</annotation>
					</element>
					<element name="etableringsår" type="integer" minOccurs="0">
						<annotation>
							<documentation>Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
						</annotation>
					</element>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir type skredutløsning.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeSkredutloesningstiltak.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="prosjektInternObjektID" type="string" minOccurs="0">
						<annotation>
							<documentation>Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
						</annotation>
					</element>
					<element name="prosjektreferanse" type="string" minOccurs="0">
						<annotation>
							<documentation>Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
						</annotation>
					</element>
					<element name="tilleggsinformasjon" type="string" minOccurs="0">
						<annotation>
							<documentation>Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SkredutloesningstiltakPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Skredutloesningstiltak"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Slissevegger" type="fmget:SlisseveggerType" substitutionGroup="fmget:Stoettekonstruksjoner"/>
	<complexType name="SlisseveggerType">
		<complexContent>
			<extension base="fmget:StoettekonstruksjonerType">
				<sequence>
					<element name="tykkelse" type="double" minOccurs="0"/>
					<element name="dybde" type="double" minOccurs="0"/>
					<element name="slurryblanding" type="string" minOccurs="0"/>
					<element name="betongkvalitet" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SlisseveggerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Slissevegger"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Sproeytebetong" type="fmget:SproeytebetongType" substitutionGroup="fmget:Sikring"/>
	<complexType name="SproeytebetongType">
		<complexContent>
			<extension base="fmget:SikringType">
				<sequence>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeSproeytebetong.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="tykkelse" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SproeytebetongPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Sproeytebetong"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Spunt" type="fmget:SpuntType" substitutionGroup="fmget:Stoettekonstruksjoner"/>
	<complexType name="SpuntType">
		<complexContent>
			<extension base="fmget:StoettekonstruksjonerType">
				<sequence>
					<element name="spunttype" type="string" minOccurs="0"/>
					<element name="spuntlengde" type="double" minOccurs="0"/>
					<element name="fordyblingIBerg" type="integer" minOccurs="0"/>
					<element name="korrosjonsbeskyttelse" type="string" minOccurs="0"/>
					<element name="dimensjonerendeLevetid" type="integer" minOccurs="0"/>
					<element name="avstiving" type="fmget:AvstivingPropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SpuntPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Spunt"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Steinspranggjerde" type="fmget:SteinspranggjerdeType" substitutionGroup="fmget:Skredsikring"/>
	<complexType name="SteinspranggjerdeType">
		<complexContent>
			<extension base="fmget:SkredsikringType">
				<sequence>
					<element name="høyde" type="double" minOccurs="0"/>
					<element name="material" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SteinspranggjerdePropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Steinspranggjerde"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="StoetteforbygningSnoe" type="fmget:StoetteforbygningSnoeType" substitutionGroup="fmget:Skredsikring">
		<annotation>
			<documentation>Installasjoner i løsneområde som hindrer skred i å løsne.</documentation>
		</annotation>
	</element>
	<complexType name="StoetteforbygningSnoeType">
		<complexContent>
			<extension base="fmget:SkredsikringType">
				<sequence>
					<element name="adkomst" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Beskriver hvordan man får adkomst til vegobjektet for vedlikehold.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_AdkomstStoetteforbygningSnoe.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="antallRader" type="integer" minOccurs="0">
						<annotation>
							<documentation>Antall rader med forbygninger i skredsikringen.</documentation>
						</annotation>
					</element>
					<element name="etableringsår" type="integer" minOccurs="0">
						<annotation>
							<documentation>Angir hvilket år vegobjektet ble etablert på stedet.</documentation>
						</annotation>
					</element>
					<element name="høydeSikringselement" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir gjennomsnittlig høyde for forbygningene.</documentation>
						</annotation>
					</element>
					<element name="sikraAreal" type="double" minOccurs="0">
						<annotation>
							<documentation>Angir areal for området skredsikringen dekker.</documentation>
						</annotation>
					</element>
					<element name="totaltAntall" type="integer" minOccurs="0">
						<annotation>
							<documentation>Totalt antall forbygninger i skredsikringen.</documentation>
						</annotation>
					</element>
					<element name="type" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Angir type forbygning.</documentation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmigeo_TypeStoetteforbygningSnoe.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="prosjektInternObjektID" type="string" minOccurs="0">
						<annotation>
							<documentation>Objektmerking. Unik innenfor tilhørende vegprosjekt.</documentation>
						</annotation>
					</element>
					<element name="prosjektreferanse" type="string" minOccurs="0">
						<annotation>
							<documentation>Referanse til prosjekt. Det benyttes samme prosjektreferanse som på tilhørende Veganlegg (VT30). Benyttes for lettere å kunne skille nye data fra eksisterende data i NVDB.</documentation>
						</annotation>
					</element>
					<element name="tilleggsinformasjon" type="string" minOccurs="0">
						<annotation>
							<documentation>Supplerende informasjon om vegobjektet som ikke framkommer direkte av andre egenskapstyper.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StoetteforbygningSnoePropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:StoetteforbygningSnoe"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Stoettekonstruksjoner" type="fmget:StoettekonstruksjonerType" substitutionGroup="fmget:TiltakElement"/>
	<complexType name="StoettekonstruksjonerType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StoettekonstruksjonerPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Stoettekonstruksjoner"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Tiltak" type="fmget:TiltakType" substitutionGroup="fmget:GeoteknikkElementSamling"/>
	<complexType name="TiltakType">
		<complexContent>
			<extension base="fmget:GeoteknikkElementSamlingType">
				<sequence>
					<element name="geotekniskKategori" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_GeotekniskKategori.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="tiltakElement" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="gml:AbstractFeatureMemberType">
									<sequence minOccurs="0">
										<element ref="fmget:TiltakElement"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TiltakPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Tiltak"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="TiltakElement" type="fmget:TiltakElementType" substitutionGroup="fmget:GeoteknikkElement"/>
	<complexType name="TiltakElementType">
		<complexContent>
			<extension base="fmget:GeoteknikkElementType">
				<sequence>
					<element name="eier" type="gml:CodeType"/>
					<element name="vedlikeholdsansvarlig" type="gml:CodeType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TiltakElementPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:TiltakElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="TiltakITunnel" type="fmget:TiltakITunnelType" substitutionGroup="fmget:TiltakElement">
		<annotation>
			<documentation>Sted hvor veg passerer gjennom jord/fjell eller under større lokk. Består av ett eller flere tunnelløp.</documentation>
		</annotation>
	</element>
	<complexType name="TiltakITunnelType">
		<complexContent>
			<extension base="fmget:TiltakElementType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TiltakITunnelPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:TiltakITunnel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Toerrmur" type="fmget:ToerrmurType" substitutionGroup="fmget:Stoettekonstruksjoner"/>
	<complexType name="ToerrmurType">
		<complexContent>
			<extension base="fmget:StoettekonstruksjonerType">
				<sequence>
					<element name="forblending" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_Forblending.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="fundamentering" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_Fundamentering.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="bruksområde" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_StoettekonstruksjonerBruksomraade.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="høyde" type="double" minOccurs="0"/>
					<element name="tykkelse" type="double" minOccurs="0"/>
					<element name="lengde" type="double" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ToerrmurPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Toerrmur"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="TyngreSikring" type="fmget:TyngreSikringType" substitutionGroup="fmget:Sikring"/>
	<complexType name="TyngreSikringType">
		<complexContent>
			<extension base="fmget:SikringType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TyngreSikringPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:TyngreSikring"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Voll" type="fmget:VollType" substitutionGroup="fmget:Skredsikring"/>
	<complexType name="VollType">
		<complexContent>
			<extension base="fmget:SkredsikringType">
				<sequence>
					<element name="bruksomraade" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_BruksomraadeVoll.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="materialtype" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_MaterialtypeVoll.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="lengde" type="double" minOccurs="0"/>
					<element name="breddeFot" type="double" minOccurs="0"/>
					<element name="breddeKrone" type="double" minOccurs="0"/>
					<element name="høydeGjennomsnitt" type="double" minOccurs="0"/>
					<element name="høydeMaks" type="double" minOccurs="0"/>
					<element name="helningGjennomsnitt" type="double" minOccurs="0"/>
					<element name="helningMaks" type="double" minOccurs="0"/>
					<element name="retningsendring" type="double" minOccurs="0"/>
					<element name="adkomst" type="gml:CodeType" minOccurs="0">
						<annotation>
							<appinfo>
								<defaultCodeSpace xmlns="http://www.opengis.net/gml/3.2">https://raw.githubusercontent.com/Arkitektum/UML-modellering-VU053/main/codelists/fmget_AdkomstVoll.gml</defaultCodeSpace>
							</appinfo>
						</annotation>
					</element>
					<element name="etableringsår" type="integer" minOccurs="0"/>
					<element name="tilleggsinformasjon" type="string" minOccurs="0"/>
					<element name="prosjektreferanse" type="string" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="VollPropertyType">
		<sequence minOccurs="0">
			<element ref="fmget:Voll"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
